<div class="bg-image" fxLayout="column" fxLayoutAlign="start center" style="padding-top: 15px; padding-bottom: 100px;">

  <h4 fxLayout="row" fxLayoutAlign="center center" style="padding: 0px 20px; text-align: center;">
    Select the campground features, amenities, and accessibility needs you require to find the perfect campsite
  </h4>

  <mat-card>
    <mat-toolbar color="primary">
      <mat-toolbar-row fxLayoutAlign="center center">
        <span>Campground Fitter</span>
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-vertical-stepper #stepper>
      <mat-step [stepControl]="stateFormGroup" state="state">
        <form [formGroup]="stateFormGroup">
          <ng-template matStepLabel>Campground by State</ng-template>
          <div>
            <mat-select placeholder="State" formControlName="stateCtrl" name="state">
              <mat-option>None</mat-option>
              <mat-divider></mat-divider>
              <mat-optgroup *ngFor="let group of stateGroups" [label]="group.name">
                <mat-option *ngFor="let state of group.state" [value]="state">
                  <img class="option-img" [src]="state.flag" height="25">
                  <span>{{ state.name }}</span>
                </mat-option>
              </mat-optgroup>
            </mat-select>
          </div>
          <div fxLayoutGap="15px" style="padding: 30px 30px 0px 0px;">
            <button mat-raised-button matStepperNext color="primary">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="accessibilityFormGroup" state="accessibility">
        <form [formGroup]="accessibilityFormGroup">
          <ng-template matStepLabel>Campground Accessibility</ng-template>
          <div fxLayoutGap="20px" fxLayout="column">
            <mat-checkbox fxLayout="row" formControlName="adaCtrl">
              <mat-icon>accessible</mat-icon>
              ADA information
            </mat-checkbox>
            <mat-checkbox formControlName="wheelchairAccessCtrl">
              <mat-icon>accessible_forward</mat-icon>
              Wheelchair access information
            </mat-checkbox>
            <mat-divider></mat-divider>
            <mat-checkbox formControlName="internetCtrl">
              <mat-icon>wifi</mat-icon>Internet information
            </mat-checkbox>
            <mat-checkbox formControlName="cellPhoneInfoCtrl">
              <mat-icon>smartphone</mat-icon>
              Cell phone information
            </mat-checkbox>
            <mat-divider></mat-divider>
            <mat-checkbox formControlName="rvAllowedCtrl">
              <mat-icon>rv_hookup</mat-icon>
              RV allowed
            </mat-checkbox>
            <mat-checkbox formControlName="rvInfoCtrl">
              <mat-icon>rv_hookup</mat-icon>
              RV information
            </mat-checkbox>
            <mat-checkbox formControlName="trailerAllowedCtrl">
              <mat-icon svgIcon="truck-trailer"></mat-icon>
              Trailer allowed
            </mat-checkbox>
            <mat-divider></mat-divider>
            <mat-checkbox formControlName="accessRoadsCtrl">
              <mat-icon svgIcon="road"></mat-icon>Access roads
            </mat-checkbox>
            <mat-checkbox formControlName="fireStoveCtrl">
              <mat-icon svgIcon="stove"></mat-icon>
              Fire stove policy
            </mat-checkbox>
            <div fxLayoutGap="15px" style="padding: 30px 30px 0px 0px;">
              <button mat-stroked-button matStepperPrevious color="accent">Back</button>
              <button mat-raised-button matStepperNext color="primary">Next</button>
            </div>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="amenitiesFormGroup" state="amenities">
        <form [formGroup]="amenitiesFormGroup">
          <ng-template matStepLabel>Campground Amenities</ng-template>
          <div fxLayoutGap="20px" fxLayout="column">
            <mat-checkbox formControlName="toiletsCtrl">
              <mat-icon svgIcon="toilet"></mat-icon>
              Toilets
            </mat-checkbox>
            <mat-checkbox formControlName="showersCtrl">
              <mat-icon svgIcon="shower-head"></mat-icon>
              Showers
            </mat-checkbox>
            <mat-checkbox formControlName="cellPhoneReceptionCtrl">
              <mat-icon>network_cell</mat-icon>
              Cell phone reception
            </mat-checkbox>
            <mat-checkbox formControlName="laundryCtrl">
              <mat-icon svgIcon="washing-machine"></mat-icon>
              Laundry
            </mat-checkbox>
            <mat-checkbox formControlName="internetConnectivityCtrl">
              <mat-icon>wifi</mat-icon>
              Internet connectivity
            </mat-checkbox>
            <mat-checkbox formControlName="amphitheaterCtrl">
              <mat-icon svgIcon="stadium"></mat-icon>
              Amphitheater
            </mat-checkbox>
            <mat-checkbox formControlName="staffVolunteerCtrl">
              <mat-icon>people</mat-icon>
              Staff or volunteer host on site
            </mat-checkbox>
            <mat-divider></mat-divider>
            <mat-checkbox formControlName="trashRecyclingCtrl">
              <mat-icon svgIcon="recycle"></mat-icon>
              Trash and recycling collection
            </mat-checkbox>
            <mat-checkbox formControlName="dumpStationCtrl">
              <mat-icon svgIcon="trash-can-outline"></mat-icon>
              Dump station
            </mat-checkbox>
            <mat-divider></mat-divider>
            <mat-checkbox formControlName="potableWatertCtrl">
              <mat-icon>local_drink</mat-icon>
              Potable Water
            </mat-checkbox>
            <mat-checkbox formControlName="foodStorageLockersCtrl">
              <mat-icon svgIcon="locker-multiple"></mat-icon>
              Food storage locker
            </mat-checkbox>
            <mat-divider></mat-divider>
            <mat-checkbox formControlName="campStoreCtrl">
              <mat-icon>store</mat-icon>
              Camp store
            </mat-checkbox>
            <mat-checkbox formControlName="iceAvailableForSaleCtrl">
              <mat-icon>ac_unit</mat-icon>
              <mat-icon>attach_money</mat-icon>
              Ice available for sale
            </mat-checkbox>
            <mat-checkbox formControlName="firewoodForSaleCtrl">
              <mat-icon svgIcon="fire"></mat-icon>
              <mat-icon>attach_money</mat-icon>
              Firewood available for sale
            </mat-checkbox>
          </div>
          <div fxLayoutGap="15px" style="padding: 30px 30px 0px 0px;">
            <button mat-stroked-button matStepperPrevious color="accent">Back</button>
            <button mat-raised-button matStepperNext color="primary">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="generalInfoFormGroup" state="information">
        <form [formGroup]="generalInfoFormGroup">
          <ng-template matStepLabel>General Campground Information</ng-template>
          <div fxLayoutGap="20px" fxLayout="column">
            <mat-checkbox formControlName="weatherCtrl">
              <mat-icon>wb_sunny</mat-icon>
              Weather
            </mat-checkbox>
            <mat-checkbox formControlName="regulationsCtrl">
              <mat-icon>info</mat-icon>
              Regulations
            </mat-checkbox>
            <mat-checkbox formControlName="directionsCtrl">
              <mat-icon>directions</mat-icon>
              Directions
            </mat-checkbox>
          </div>
          <div fxLayoutGap="15px" style="padding: 30px 30px 0px 0px;">
            <button mat-stroked-button matStepperPrevious color="accent">Back</button>
            <button mat-raised-button matStepperNext color="primary">Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step state="done">
        <ng-template matStepLabel>Done</ng-template>
        <div>
          Get campground results!
        </div>
        <div fxLayoutGap="45px" style="padding: 30px 30px 0px 0px;" fxLayout="column">
          <div fxLayout="row" fxLayoutGap="15px">
            <button mat-raised-button matStepperPrevious color="accent">Back</button>
            <button mat-raised-button color="primary" (click)="onSubmitStepper()">Submit</button>
          </div>
          <div>
            <button mat-stroked-button color="warn" (click)="stepper.reset()">Reset search</button>
          </div>
        </div>
      </mat-step>
      <ng-template matStepperIcon="accessibility">
        <mat-icon>accessibility_new</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="amenities">
        <mat-icon>star_border</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="information">
        <mat-icon>info</mat-icon>
      </ng-template>
      <ng-template matStepperIcon="done">
        <mat-icon>done_all</mat-icon>
      </ng-template>
    </mat-vertical-stepper>
  </mat-card>
</div>

<div fxLayoutAlign="center center" fxLayout="column">
  <h3 *ngIf="accessibilityFormGroup.value.adaCtrl ||
    accessibilityFormGroup.value.wheelchairAccessCtrl ||
    accessibilityFormGroup.value.internetCtrl ||
    accessibilityFormGroup.value.cellPhoneInfoCtrl ||
    accessibilityFormGroup.value.rvAllowedCtrl ||
    accessibilityFormGroup.value.rvInfoCtrl ||
    accessibilityFormGroup.value.trailerAllowedCtrl ||
    accessibilityFormGroup.value.accessRoadsCtrl ||
    accessibilityFormGroup.value.fireStoveCtrl ||
    amenitiesFormGroup.value.toiletsCtrl ||
    amenitiesFormGroup.value.showersCtrl ||
    amenitiesFormGroup.value.cellPhoneReceptionCtrl ||
    amenitiesFormGroup.value.laundryCtrl ||
    amenitiesFormGroup.value.internetConnectivityCtrl ||
    amenitiesFormGroup.value.amphitheaterCtrl ||
    amenitiesFormGroup.value.staffVolunteerCtrl ||
    amenitiesFormGroup.value.trashRecyclingCtrl ||
    amenitiesFormGroup.value.dumpStationCtrl ||
    amenitiesFormGroup.value.potableWaterCtrl ||
    amenitiesFormGroup.value.foodStorageLockersCtrl ||
    amenitiesFormGroup.value.campStoreCtrl ||
    amenitiesFormGroup.value.iceAvailableForSaleCtrl ||
    amenitiesFormGroup.value.firewoodForSaleCtrl ||
    generalInfoFormGroup.value.weatherCtrl ||
    generalInfoFormGroup.value.regulationsCtrl ||
    generalInfoFormGroup.value.directionsCtrl">
    Selected:</h3>
  <div fxLayoutGap="20px" fxLayout="column" fxLayoutAlign="center center" style="padding-bottom: 30px;">
    <mat-chip selected color="accent" *ngIf="accessibilityFormGroup.value.adaCtrl">
      <mat-icon style="padding-right: 5px;">accessible</mat-icon>
      ADA information
    </mat-chip>
    <mat-chip selected color="accent" *ngIf="stateFormGroup.value.stateCtrl?.name">
      <mat-icon style="padding-right: 5px;">star</mat-icon>
      State: {{ stateFormGroup.value.stateCtrl.name }}
    </mat-chip>
    <mat-chip-list>
      <mat-chip selected color="accent" *ngIf="accessibilityFormGroup.value.wheelchairAccessCtrl">
        <mat-icon style="padding-right: 5px;">accessible_forward</mat-icon>
        Wheelchair access information
      </mat-chip>
      <mat-chip selected color="accent" *ngIf="accessibilityFormGroup.value.internetCtrl">
        <mat-icon style="padding-right: 5px;">wifi</mat-icon>
        Internet information
      </mat-chip>
      <mat-chip selected color="accent" *ngIf="accessibilityFormGroup.value.cellPhoneInfoCtrl">
        <mat-icon style="padding-right: 5px;">smartphone</mat-icon>
        Cell phone information
      </mat-chip>
      <mat-chip selected color="accent" *ngIf="accessibilityFormGroup.value.rvAllowedCtrl">
        <mat-icon style="padding-right: 5px;">rv_hookup</mat-icon>
        RV allowed
      </mat-chip>
      <mat-chip selected color="accent" *ngIf="accessibilityFormGroup.value.trailerAllowedCtrl">
        <mat-icon style="padding-right: 5px;" svgIcon="truck-trailer"></mat-icon>
        Trailer allowed
      </mat-chip>
      <mat-chip selected color="accent" *ngIf="accessibilityFormGroup.value.accessRoadsCtrl">
        <mat-icon style="padding-right: 5px;" svgIcon="road"></mat-icon>
        Access roads
      </mat-chip>
      <mat-chip selected color="accent" *ngIf="accessibilityFormGroup.value.fireStoveCtrl">
        <mat-icon style="padding-right: 5px;" svgIcon="stove"></mat-icon>
        Fire stove policy
      </mat-chip>
      <mat-chip selected color="accent" *ngIf="amenitiesFormGroup.value.toiletsCtrl">
        <mat-icon style="padding-right: 5px;" svgIcon="toilet"></mat-icon>
        Toilets
      </mat-chip>
      <mat-chip selected color="accent" *ngIf="amenitiesFormGroup.value.showersCtrl">
        <mat-icon style="padding-right: 5px;" svgIcon="shower-head"></mat-icon>
        Showers
      </mat-chip>
      <mat-chip selected color="accent" *ngIf="amenitiesFormGroup.value.cellPhoneReceptionCtrl">
        <mat-icon style="padding-right: 5px;">network_cell</mat-icon>
        Cell phone reception
      </mat-chip>
      <mat-chip selected color="accent" *ngIf="amenitiesFormGroup.value.laundryCtrl">
        <mat-icon style="padding-right: 5px;" svgIcon="washing-machine"></mat-icon>
        Laundry
      </mat-chip>
      <mat-chip selected color="accent" *ngIf="amenitiesFormGroup.value.internetConnectivityCtrl">
        <mat-icon style="padding-right: 5px;">wifi</mat-icon>
        Internet connectivity
      </mat-chip>
      <mat-chip selected color="accent" *ngIf="amenitiesFormGroup.value.amphitheaterCtrl">
        <mat-icon style="padding-right: 5px;" svgIcon="stadium"></mat-icon>
        Amphitheater
      </mat-chip>
      <mat-chip selected color="accent" *ngIf="amenitiesFormGroup.value.staffVolunteerCtrl">
        <mat-icon style="padding-right: 5px;">people</mat-icon>
        Staff or volunteer host on site
      </mat-chip>
      <mat-chip selected color="accent" *ngIf="amenitiesFormGroup.value.trashRecyclingCtrl">
        <mat-icon style="padding-right: 5px;" svgIcon="recycle"></mat-icon>
        Trash and recycling collection
      </mat-chip>
      <mat-chip selected color="accent" *ngIf="amenitiesFormGroup.value.dumpStationCtrl">
        <mat-icon style="padding-right: 5px;" svgIcon="trash-can-outline"></mat-icon>
        Dump station
      </mat-chip>
      <mat-chip selected color="accent" *ngIf="amenitiesFormGroup.value.potableWaterCtrl">
        <mat-icon style="padding-right: 5px;">local_drink</mat-icon>
        Potable Water
      </mat-chip>
      <mat-chip selected color="accent" *ngIf="amenitiesFormGroup.value.foodStorageLockersCtrl">
        <mat-icon style="padding-right: 5px;" svgIcon="locker-multiple"></mat-icon>
        Food storage locker
      </mat-chip>
      <mat-chip selected color="accent" *ngIf="amenitiesFormGroup.value.campStoreCtrl">
        <mat-icon style="padding-right: 5px;">store</mat-icon>
        Camp store
      </mat-chip>
      <mat-chip selected color="accent" *ngIf="amenitiesFormGroup.value.iceAvailableForSaleCtrl">
        <mat-icon style="padding-right: 5px;">ac_unit</mat-icon>
        <mat-icon style="padding-right: 5px;">attach_money</mat-icon>
        Ice available for sale
      </mat-chip>
      <mat-chip selected color="accent" *ngIf="amenitiesFormGroup.value.firewoodForSaleCtrl">
        <mat-icon style="padding-right: 5px;" svgIcon="fire"></mat-icon>
        <mat-icon style="padding-right: 5px;">attach_money</mat-icon>
        Firewood available for sale
      </mat-chip>
      <mat-chip selected color="accent" *ngIf="generalInfoFormGroup.value.weatherCtrl">
        <mat-icon style="padding-right: 5px;">wb_sunny</mat-icon>
        Weather
      </mat-chip>
      <mat-chip selected color="accent" *ngIf="generalInfoFormGroup.value.regulationsCtrl">
        <mat-icon style="padding-right: 5px;">info</mat-icon>
        Regulations
      </mat-chip>
      <mat-chip selected color="accent" *ngIf="generalInfoFormGroup.value.directionsCtrl">
        <mat-icon style="padding-right: 5px;">directions</mat-icon>
        Directions
      </mat-chip>
    </mat-chip-list>
  </div>
</div>

<div *ngIf="!resultsFound && stepperSubmitted" fxLayoutAlign="center center">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="resultsFound">
  <div *ngIf="stateFormGroup.value.stateCtrl !== ''">
    <div fxLayoutAlign="center center" fxLayout="row" style="padding: 20px 0px 20px 0px">
      <p style="padding-right: 8px">Campgrounds in</p>
      <h2>{{ stateFormGroup.value.stateCtrl?.name }}</h2>
      <img [src]="stateFormGroup.value.stateCtrl?.flag" height="55" style="padding-left: 15px">
    </div>
  </div>
  <agm-map [zoom]="4" [latitude]="39.52" [longitude]="-98.35" [fitBounds]="true">
    <div *ngFor="let campCoordinates of resultsStepperLatLongArray">
      <agm-marker *ngIf="campCoordinates.lat && campCoordinates.long" [latitude]="campCoordinates.lat"
        [longitude]="campCoordinates.long" [agmFitBounds]="true">
        <agm-info-window>
          <a href="{{ campCoordinates.url }}" target="_blank" style="text-decoration: none">
            {{ campCoordinates.fullName }}</a>
        </agm-info-window>
      </agm-marker>
    </div>
  </agm-map>
</div>

<div *ngIf="resultsFound" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="30px">
  <!-- <app-accessibility></app-accessibility> -->
  <div *ngFor="let foundCampground of foundCampgrounds; let i = index" style="width: 85%; max-width: 700px;">
    <mat-accordion>
      <mat-card>
        <mat-card-header fxLayoutAlign="center center">
          <mat-card-title>
            <h3>{{ foundCampground.name }}</h3>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <div *ngIf="foundCampgrounds[i].images.length">
            <slideshow [imageUrls]="foundCampgrounds[i].images" [backgroundSize]="'contain'"
              [backgroundRepeat]="'no-repeat'" [showDots]="true" [arrowSize]="'20px'" [minHeight]="'400px'">
            </slideshow>
          </div>
          <h3>
            <mat-icon style="padding-right: 10px;">description</mat-icon>
            Description:
          </h3>
          <p>{{ foundCampground.description }}</p>
          <div *ngFor="let fee of foundCampground.fees">
            <h4>{{ fee.title }}: {{ fee.cost | currency }}</h4>
            <p>{{ fee.description }}</p>
          </div>
          <!-- <app-accessibility></app-accessibility> -->
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Campsites</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngIf="foundCampground.campsites.totalsites" fxLayout="row" fxLayoutAlign="start center">
              <h4>Total # of sites:</h4> {{ foundCampground.campsites.totalsites }}
            </div>
            <div *ngIf="foundCampground.campsites.tentonly" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon svgIcon="tent"></mat-icon>
              <h4># of tent-only sites:</h4> {{ foundCampground.campsites.tentonly }}
            </div>
            <div *ngIf="foundCampground.campsites.rvonly" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon>rv_hookup</mat-icon>
              <h4># of RV-only sites:</h4>
              {{ foundCampground.campsites.rvonly }}
            </div>
            <div *ngIf="foundCampground.campsites.electricalhookups" fxLayout="row" fxLayoutAlign="start center">
              <h4># of electrical hookups:</h4>
              {{ foundCampground.campsites.electricalhookups }}
            </div>
            <div *ngIf="foundCampground.campsites.group" fxLayout="row" fxLayoutAlign="start center">
              <h4># of group sites:</h4>
              {{ foundCampground.campsites.group }}
            </div>
          </mat-expansion-panel>
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Accessibility</h3>
              </mat-panel-title>
              <!-- <mat-panel-description>
                  Information on all things accessibility
                </mat-panel-description> -->
            </mat-expansion-panel-header>
            <div
              *ngIf="foundCampground.accessibility.wheelchairAccess && accessibilityFormGroup.value.wheelchairAccessCtrl">
              <h4>Wheelchair access information</h4>
              {{ foundCampground.accessibility.wheelchairAccess }}
            </div>
            <div *ngIf="foundCampground.accessibility.internetInfo && accessibilityFormGroup.value.internetCtrl">
              <h4>Internet information</h4>
              {{ foundCampground.accessibility.internetInfo }}
            </div>
            <div *ngIf="foundCampground.accessibility.rvAllowed && accessibilityFormGroup.value.rvAllowedCtrl">
              <h4>RV allowed:</h4>
              {{ foundCampground.accessibility.rvAllowed }}
            </div>
            <div *ngIf="foundCampground.accessibility.cellPhoneInfo && accessibilityFormGroup.value.cellPhoneInfoCtrl">
              <h4>Cell phone information</h4>
              {{ foundCampground.accessibility.cellPhoneInfo }}
            </div>
            <div *ngIf="foundCampground.accessibility.fireStovePolicy && accessibilityFormGroup.value.fireStoveCtrl">
              <h4>Fire stove policy</h4>
              {{ foundCampground.accessibility.fireStovePolicy }}
            </div>
            <div *ngIf="foundCampground.accessibility.rvMaxLength && accessibilityFormGroup.value.rvMaxCtrl">
              <h4>Maximum # of RVs allowed</h4>
              {{ foundCampground.accessibility.rvMaxlength }}
            </div>
            <div
              *ngIf="foundCampground.accessibility.additionalInfo && accessibilityFormGroup.value.additionalInfoCtrl">
              <h4>Additional information</h4>
              {{ foundCampground.accessibility.additionalInfo }}
            </div>
            <div *ngIf="foundCampground.accessibility.trailerMaxLength && accessibilityFormGroup.value.trailerMaxCtrl">
              <h4>Maximum # of trailers allowed</h4>
              {{ foundCampground.accessibility.trailerMaxLength }}
            </div>
            <div *ngIf="foundCampground.accessibility.adaInfo && accessibilityFormGroup.value.adaCtrl">
              <h4>ADA Information</h4>
              {{ foundCampground.accessibility.adaInfo }}
            </div>
            <div *ngIf="foundCampground.accessibility.rvInfo && accessibilityFormGroup.value.rvInfoCtrl">
              <h4>RV information</h4>
              {{ foundCampground.accessibility.rvInfo }}
            </div>
            <div *ngIf="foundCampground.accessibility.accessRoads && accessibilityFormGroup.value.accessRoadsCtrl">
              <h4>Access roads</h4>
              {{ foundCampground.accessibility.accessRoads }}
            </div>
            <div
              *ngIf="foundCampground.accessibility.classifications && accessibilityFormGroup.value.classificationsCtrl">
              <h4>Classifications</h4>
              {{ foundCampground.accessibility.classifications }}
            </div>
            <div
              *ngIf="foundCampground.accessibility.trailerAllowed && accessibilityFormGroup.value.trailerAllowedCtrl">
              <h4>Trailer allowed</h4>
              {{ foundCampground.accessibility.trailerAllowed }}
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>Amenities</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div
              *ngIf="foundCampground.amenities.trashRecyclingCollection && amenitiesFormGroup.value.trashRecyclingCtrl">
              <h4>Trash and recycling collection</h4>
              {{ foundCampground.amenities.trashRecyclingCollection }}
            </div>
            <div *ngIf="foundCampground.amenities.toilets && amenitiesFormGroup.value.toiletsCtrl">
              <h4>Toilets</h4>
              {{ foundCampground.amenities.toilets }}
            </div>
            <div
              *ngIf="foundCampground.amenities.internetConnectivity && amenitiesFormGroup.value.internetConnectivityCtrl">
              <h4>Internet connectivity</h4>
              {{ foundCampground.amenities.internetConnectivity }}
            </div>
            <div *ngIf="foundCampground.amenities.showers && amenitiesFormGroup.value.showersCtrl">
              <h4>Showers</h4>
              {{ foundCampground.amenities.showers }}
            </div>
            <div
              *ngIf="foundCampground.amenities.cellPhoneReception && amenitiesFormGroup.value.cellPhoneReceptionCtrl">
              <h4>Cell phone reception</h4>
              {{ foundCampground.amenities.cellPhoneReception }}
            </div>
            <div *ngIf="foundCampground.amenities.laundry && amenitiesFormGroup.value.laundryCtrl">
              <h4>Laundry</h4>
              {{ foundCampground.amenities.laundry }}
            </div>
            <div *ngIf="foundCampground.amenities.amphitheater && amenitiesFormGroup.value.amphitheaterCtrl">
              <h4>Amphitheater</h4>
              {{ foundCampground.amenities.amphitheater }}
            </div>
            <div *ngIf="foundCampground.amenities.dumpStation && amenitiesFormGroup.value.dumpStationCtrl">
              <h4>Dump station</h4>
              {{ foundCampground.amenities.dumpStation }}
            </div>
            <div *ngIf="foundCampground.amenities.campStore && amenitiesFormGroup.value.campStoreCtrl">
              <h4>Camp store</h4>
              {{ foundCampground.amenities.campStore }}
            </div>
            <div
              *ngIf="foundCampground.amenities.staffOrVolunteerHostOnsite && amenitiesFormGroup.value.staffVolunteerCtrl">
              <h4>Staff or volunteer host on site</h4>
              {{ foundCampground.amenities.staffOrVolunteerHostOnsite }}
            </div>
            <div *ngIf="foundCampground.amenities.potableWater && amenitiesFormGroup.value.potableWatertCtrl">
              <h4>Potable water</h4>
              {{ foundCampground.amenities.potableWater }}
            </div>
            <div
              *ngIf="foundCampground.amenities.iceAvailableForSale && amenitiesFormGroup.value.iceAvailableForSaleCtrl">
              <h4>Ice availalbe for sale</h4>
              {{ foundCampground.amenities.iceAvailableForSale }}
            </div>
            <div *ngIf="foundCampground.amenities.firewoodForSale && amenitiesFormGroup.value.firewoodForSaleCtrl">
              <h4>Firewood for sale</h4>
              {{ foundCampground.amenities.firewoodforSale }}
            </div>
            <div
              *ngIf="foundCampground.amenities.foodStorageLockers && amenitiesFormGroup.value.foodStorageLockersCtrl">
              <h4>Food storage lockers</h4>
              {{ foundCampground.amenities.foodStorageLockers }}
            </div>
          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <h3>General Information</h3>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div *ngIf="foundCampground.weatherOverview && generalInfoFormGroup.value.weatherCtrl">
              <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon>wb_sunny</mat-icon>
                <h4>Weather overview</h4>
              </div>
              {{ foundCampground.weatherOverview }}
            </div>
            <div *ngIf="foundCampground.regulationsOverview && generalInfoFormGroup.value.regulationsCtrl">
              <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon>info</mat-icon>
                <h4>Regulations Overview</h4>
              </div>
              {{ foundCampground.regulationsOverview }}
            </div>
            <div *ngIf="foundCampground.directionsOverview && generalInfoFormGroup.value.directionsCtrl">
              <div fxLayout="row" fxLayoutAlign="start center">
                <mat-icon>directions</mat-icon>
                <h4>Directions Overview</h4>
              </div>
              <div fxLayout="column">
                {{ foundCampground.directionsOverview }}
                <a href="{{ foundCampground.directionsUrl }}" mat-stroked-button color="primary" target="_blank">
                  Directions
                </a>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-card-content>                                       
      </mat-card>
    </mat-accordion>
  </div>
</div>

<div *ngIf="searchingForMore" fxLayoutAlign="center center" style="padding: 25px 0px;">
  <mat-spinner></mat-spinner>
</div>

<div *ngIf="resultsFound" style="padding-bottom: 20px;" fxLayoutAlign="center center">
  <button color="primary" mat-raised-button (click)="loadMoreCampgrounds()">
    Get more campgrounds
    <mat-icon>expand_more</mat-icon>
  </button>
</div>