
label.mat-checkbox-layout {
  color: blue;
}

agm-map {
  height: 375px;
}

.span.mat-checkbox-label {
  color: blue;
}

.bg-image {
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgb(255, 255, 255, 0.4)),
    url("https://d2mv4f9tjbf4o1.cloudfront.net/national-park-fitter/zach-betten-K9olx8OF36A-unsplash.jpg")
      no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.option-img {
  vertical-align: middle;
  margin-right: 8px;
}