<div fxLayout="column" fxLayoutAlign="start center" style="padding-top: 15px;">

  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayoutAlign="center center">
      <span>Campground Fitter</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- <h3>Complete the form below to find the park and campground that's right for you!</h3> -->

  <mat-vertical-stepper #stepper>

    <mat-step [stepControl]="accessibilityFormGroup" state="accessibility">
      <form [formGroup]="accessibilityFormGroup">

        <ng-template matStepLabel>Campground Accessibility</ng-template>

        <h4>Select the campground accessibility features you require</h4>

        <div fxLayoutGap="20px" fxLayout="column">

          <mat-checkbox fxLayout="row" formControlName="adaCtrl">
            <mat-icon>accessible</mat-icon>
            ADA information
          </mat-checkbox>
          <mat-checkbox formControlName="wheelchairAccessCtrl">
            <mat-icon>accessible_forward</mat-icon>
            Wheelchair access information
          </mat-checkbox>

          <mat-divider></mat-divider>

          <mat-checkbox formControlName="internetCtrl">
            <mat-icon>wifi</mat-icon>Internet information
          </mat-checkbox>
          <mat-checkbox formControlName="cellPhoneInfoCtrl">
            <mat-icon>smartphone</mat-icon>
            Cell phone information
          </mat-checkbox>

          <mat-divider></mat-divider>

          <mat-checkbox formControlName="rvAllowedCtrl">
            <mat-icon>rv_hookup</mat-icon>
            RV allowed
          </mat-checkbox>
          <mat-checkbox formControlName="rvInfoCtrl">
            <mat-icon>rv_hookup</mat-icon>
            RV information
          </mat-checkbox>
          <mat-checkbox formControlName="trailerAllowedCtrl">
            <mat-icon svgIcon="truck-trailer"></mat-icon>
            Trailer allowed
          </mat-checkbox>

          <mat-divider></mat-divider>

          <mat-checkbox formControlName="accessRoadsCtrl">
            <mat-icon svgIcon="road"></mat-icon>Access roads
          </mat-checkbox>
          <mat-checkbox formControlName="fireStoveCtrl">
            <mat-icon svgIcon="stove"></mat-icon>
            Fire stove policy
          </mat-checkbox>

          <div>
            <button mat-raised-button matStepperNext>Next</button>
          </div>

        </div>

      </form>

    </mat-step>

    <mat-step [stepControl]="amenitiesFormGroup" state="amenities">
      <form [formGroup]="amenitiesFormGroup">

        <ng-template matStepLabel>Campground Amenities</ng-template>

        <div fxLayoutGap="20px" fxLayout="column">

          <mat-checkbox formControlName="toiletsCtrl">
            <mat-icon svgIcon="toilet"></mat-icon>
            Toilets
          </mat-checkbox>
          <mat-checkbox formControlName="showersCtrl">
            <mat-icon svgIcon="shower-head"></mat-icon>
            Showers
          </mat-checkbox>
          <mat-checkbox formControlName="cellPhoneReceptionCtrl">
            <mat-icon>network_cell</mat-icon>
            Cell phone reception
          </mat-checkbox>
          <mat-checkbox formControlName="laundryCtrl">
            <mat-icon svgIcon="washing-machine"></mat-icon>
            Laundry
          </mat-checkbox>
          <mat-checkbox formControlName="internetConnectivityCtrl">
            <mat-icon>wifi</mat-icon>
            Internet connectivity
          </mat-checkbox>
          <mat-checkbox formControlName="amphitheaterCtrl">
            <mat-icon svgIcon="stadium"></mat-icon>
            Amphitheater
          </mat-checkbox>
          <mat-checkbox formControlName="staffVolunteerCtrl">
            <mat-icon>people</mat-icon>
            Staff or volunteer host on site
          </mat-checkbox>

          <mat-divider></mat-divider>

          <mat-checkbox formControlName="trashRecyclingCtrl">
            <mat-icon svgIcon="recycle"></mat-icon>
            Trash and recycling collection
          </mat-checkbox>
          <mat-checkbox formControlName="dumpStationCtrl">
            <mat-icon svgIcon="trash-can-outline"></mat-icon>
            Dump station
          </mat-checkbox>

          <mat-divider></mat-divider>

          <mat-checkbox formControlName="potableWatertCtrl">
            <mat-icon>local_drink</mat-icon>
            Potable Water
          </mat-checkbox>
          <mat-checkbox formControlName="foodStorageLockersCtrl">
            <mat-icon svgIcon="locker-multiple"></mat-icon>
            Food storage locker
          </mat-checkbox>

          <mat-divider></mat-divider>

          <mat-checkbox formControlName="campStoreCtrl">
            <mat-icon>store</mat-icon>
            Camp store
          </mat-checkbox>
          <mat-checkbox formControlName="iceAvailableForSaleCtrl">
            <mat-icon>ac_unit</mat-icon>
            <mat-icon>attach_money</mat-icon>
            Ice available for sale
          </mat-checkbox>
          <mat-checkbox formControlName="firewoodForSaleCtrl">
            <mat-icon svgIcon="fire"></mat-icon>
            <mat-icon>attach_money</mat-icon>
            Firewood available for sale
          </mat-checkbox>

        </div>

        <div fxLayoutGap="15px" style="padding: 30px 30px 0px 0px;">
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button matStepperNext>Next</button>
        </div>

      </form>
    </mat-step>

    <mat-step [stepControl]="generalInfoFormGroup" state="information">
      <form [formGroup]="generalInfoFormGroup">
        <ng-template matStepLabel>General Campground Information</ng-template>

        <div fxLayoutGap="20px" fxLayout="column">

          <mat-checkbox formControlName="weatherCtrl">
            <mat-icon>wb_sunny</mat-icon>
            Weather
          </mat-checkbox>
          <mat-checkbox formControlName="regulationsCtrl">
            <mat-icon>info</mat-icon>
            Regulations
          </mat-checkbox>
          <mat-checkbox formControlName="directionsCtrl">
            <mat-icon>directions</mat-icon>
            Directions
          </mat-checkbox>
        </div>

        <div fxLayoutGap="15px" style="padding: 30px 30px 0px 0px;">
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step state="done">

      <ng-template matStepLabel>Done</ng-template>
      Get results!
      <div fxLayoutGap="15px" style="padding: 30px 30px 0px 0px;" fxLayout="column">

        <div fxLayout="row" fxLayoutGap="15px">
          <button mat-raised-button matStepperPrevious color="accent">Back</button>
          <button mat-raised-button color="primary" (click)="onSubmitStepper()">Submit</button>
        </div>

        <div>
          <button mat-raised-button color="warn" (click)="stepper.reset()">Reset</button>
        </div>

      </div>
    </mat-step>

    <ng-template matStepperIcon="accessibility">
      <mat-icon>accessibility_new</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="amenities">
      <mat-icon>star_border</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="information">
      <mat-icon>info</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="done">
      <mat-icon>done_all</mat-icon>
    </ng-template>

  </mat-vertical-stepper>

  <div *ngIf="!resultsFound && stepperSubmitted">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="resultsFound">

    <!-- <div fxLayout="row" fxLayoutAlign="space-evenly start"> -->
    <div fxLayoutAlign="space-evenly start">

      <div fxLayout="column" fxFlex="97" fxLayoutGap="15px">

        <!-- <app-accessibility></app-accessibility> -->

        <div *ngFor="let foundCampground of foundCampgrounds; let i = index">

          <!-- <div *ngFor="let campgroundArr of campgroundParkArray"> -->

          <mat-accordion>

            <mat-card>

              <mat-card-header>
                <mat-card-title>
                  {{ foundCampground.name }}
                </mat-card-title>
              </mat-card-header>

              <!-- <h2>{{ foundCampground.parkCode }}</h2> -->
              <!-- <h2>{{ campgroundParkArray }}</h2> -->

              <p>{{ foundCampground.description }}</p>

              <p>{{ foundCampground.fees }}</p>

              <!-- <app-accessibility></app-accessibility> -->
              <!-- <mat-expansion-panel *ngIf="accessibilityFormGroup.value.wheelchairAccessCtrl"> -->

              <mat-expansion-panel>

                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h3>Campsites</h3>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngIf="foundCampground.campsites.totalsites" fxLayout="row" fxLayoutAlign="start center">
                  <h4>Total # of sites:</h4> {{ foundCampground.campsites.totalsites }}
                </div>

                <div *ngIf="foundCampground.campsites.tentonly" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon svgIcon="tent"></mat-icon>
                  <h4># of tent-only sites:</h4> {{ foundCampground.campsites.tentonly }}
                </div>

                <div *ngIf="foundCampground.campsites.rvonly" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>rv_hookup</mat-icon>
                  <h4># of RV-only sites:</h4>
                  {{ foundCampground.campsites.rvonly }}
                </div>

                <div *ngIf="foundCampground.campsites.electricalhookups" fxLayout="row" fxLayoutAlign="start center">
                  <h4># of electrical hookups:</h4>
                  {{ foundCampground.campsites.electricalhookups }}
                </div>

                <div *ngIf="foundCampground.campsites.group" fxLayout="row" fxLayoutAlign="start center">
                  <h4># of group sites:</h4>
                  {{ foundCampground.campsites.group }}
                </div>

              </mat-expansion-panel>

              <mat-expansion-panel>

                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h3>Accessibility</h3>
                  </mat-panel-title>

                  <!-- <mat-panel-description>
                  Information on all things accessibility
                </mat-panel-description> -->

                </mat-expansion-panel-header>

                <div
                  *ngIf="foundCampground.accessibility.wheelchairaccess && accessibilityFormGroup.value.wheelchairAccessCtrl">
                  <h4>Wheelchair access information</h4>
                  {{ foundCampground.accessibility.wheelchairaccess }}
                </div>

                <div *ngIf="foundCampground.accessibility.internetinfo && accessibilityFormGroup.value.internetCtrl">
                  <h4>Internet information</h4>
                  {{ foundCampground.accessibility.internetinfo }}
                </div>

                <div *ngIf="foundCampground.accessibility.rvallowed && accessibilityFormGroup.value.rvAllowedCtrl">
                  <h4>RV allowed:</h4>
                  {{ foundCampground.accessibility.rvallowed }}
                </div>

                <div
                  *ngIf="foundCampground.accessibility.cellphoneinfo && accessibilityFormGroup.value.cellPhoneInfoCtrl">
                  <h4>Cell phone information</h4>
                  {{ foundCampground.accessibility.cellphoneinfo }}
                </div>

                <div
                  *ngIf="foundCampground.accessibility.firestovepolicy && accessibilityFormGroup.value.fireStoveCtrl">
                  <h4>Fire stove policy</h4>
                  {{ foundCampground.accessibility.firestovepolicy }}
                </div>

                <div *ngIf="foundCampground.accessibility.rvmaxlength && accessibilityFormGroup.value.rvMaxCtrl">
                  <h4>Maximum # of RVs allowed</h4>
                  {{ foundCampground.accessibility.rvmaxlength }}
                </div>

                <div
                  *ngIf="foundCampground.accessibility.additionalinfo && accessibilityFormGroup.value.additionalInfoCtrl">
                  <h4>Additional information</h4>
                  {{ foundCampground.accessibility.additionalinfo }}
                </div>

                <div
                  *ngIf="foundCampground.accessibility.trailermaxlength && accessibilityFormGroup.value.trailerMaxCtrl">
                  <h4>Maximum # of trailers allowed</h4>
                  {{ foundCampground.accessibility.trailermaxlength }}
                </div>

                <div *ngIf="foundCampground.accessibility.adainfo && accessibilityFormGroup.value.adaCtrl">
                  <h4>ADA Information</h4>
                  {{ foundCampground.accessibility.adainfo }}
                </div>

                <div *ngIf="foundCampground.accessibility.rvinfo && accessibilityFormGroup.value.rvInfoCtrl">
                  <h4>RV information</h4>
                  {{ foundCampground.accessibility.rvinfo }}
                </div>

                <div *ngIf="foundCampground.accessibility.accessroads && accessibilityFormGroup.value.accessRoadsCtrl">
                  <h4>Access roads</h4>
                  {{ foundCampground.accessibility.accessroads }}
                </div>

                <div
                  *ngIf="foundCampground.accessibility.classifications && accessibilityFormGroup.value.classificationsCtrl">
                  <h4>Classifications</h4>
                  {{ foundCampground.accessibility.classifications }}
                </div>

                <div
                  *ngIf="foundCampground.accessibility.trailerallowed && accessibilityFormGroup.value.trailerAllowedCtrl">
                  <h4>Trailer allowed</h4>
                  {{ foundCampground.accessibility.trailerallowed }}
                </div>

              </mat-expansion-panel>


              <mat-expansion-panel>

                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h3>Amenities</h3>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div
                  *ngIf="foundCampground.amenities.trashrecyclingcollection && amenitiesFormGroup.value.trashRecyclingCtrl">
                  <h4>Trash and recycling collection</h4>
                  {{ foundCampground.amenities.trashrecyclingcollection }}
                </div>

                <div *ngIf="foundCampground.amenities.toilets && amenitiesFormGroup.value.toiletsCtrl">
                  <h4>Toilets</h4>
                  {{ foundCampground.amenities.toilets }}
                </div>

                <div
                  *ngIf="foundCampground.amenities.internetconnectivity && amenitiesFormGroup.value.internetConnectivityCtrl">
                  <h4>Internet connectivity</h4>
                  {{ foundCampground.amenities.internetconnectivity }}
                </div>

                <div *ngIf="foundCampground.amenities.showers && amenitiesFormGroup.value.showersCtrl">
                  <h4>Showers</h4>
                  {{ foundCampground.amenities.showers }}
                </div>

                <div
                  *ngIf="foundCampground.amenities.cellphonereception && amenitiesFormGroup.value.cellPhoneReceptionCtrl">
                  <h4>Cell phone reception</h4>
                  {{ foundCampground.amenities.cellphonereception }}
                </div>

                <div *ngIf="foundCampground.amenities.laundry && amenitiesFormGroup.value.laundryCtrl">
                  <h4>Laundry</h4>
                  {{ foundCampground.amenities.laundry }}
                </div>

                <div *ngIf="foundCampground.amenities.amphitheater && amenitiesFormGroup.value.amphitheaterCtrl">
                  <h4>Amphitheater</h4>
                  {{ foundCampground.amenities.amphitheater }}
                </div>

                <div *ngIf="foundCampground.amenities.dumpstation && amenitiesFormGroup.value.dumpStationCtrl">
                  <h4>Dump station</h4>
                  {{ foundCampground.amenities.dumpstation }}
                </div>

                <div *ngIf="foundCampground.amenities.campstore && amenitiesFormGroup.value.campStoreCtrl">
                  <h4>Camp store</h4>
                  {{ foundCampground.amenities.campstore }}
                </div>

                <div
                  *ngIf="foundCampground.amenities.stafforvolunteerhostonsite && amenitiesFormGroup.value.staffVolunteerCtrl">
                  <h4>Staff or volunteer host on site</h4>
                  {{ foundCampground.amenities.stafforvolunteerhostonsite }}
                </div>

                <div *ngIf="foundCampground.amenities.potablewater && amenitiesFormGroup.value.potableWatertCtrl">
                  <h4>Potable water</h4>
                  {{ foundCampground.amenities.potablewater }}
                </div>

                <div
                  *ngIf="foundCampground.amenities.iceavailableforsale && amenitiesFormGroup.value.iceAvailableForSaleCtrl">
                  <h4>Ice availalbe for sale</h4>
                  {{ foundCampground.amenities.iceavailableforsale }}
                </div>

                <div *ngIf="foundCampground.amenities.firewoodforsale && amenitiesFormGroup.value.firewoodForSaleCtrl">
                  <h4>Firewood for sale</h4>
                  {{ foundCampground.amenities.firewoodforsale }}
                </div>

                <div
                  *ngIf="foundCampground.amenities.foodstoragelockers && amenitiesFormGroup.value.foodStorageLockersCtrl">
                  <h4>Food storage lockers</h4>
                  {{ foundCampground.amenities.foodstoragelockers }}
                </div>

              </mat-expansion-panel>

              <mat-expansion-panel>

                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h3>General Information</h3>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngIf="foundCampground.weatheroverview && generalInfoFormGroup.value.weatherCtrl">
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>wb_sunny</mat-icon>
                    <h4>Weather overview</h4>
                  </div>
                  {{ foundCampground.weatheroverview }}
                </div>
                <div *ngIf="foundCampground.regulationsoverview && generalInfoFormGroup.value.regulationsCtrl">
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>info</mat-icon>
                    <h4>Regulations Overview</h4>
                  </div>
                  {{ foundCampground.regulationsoverview }}
                </div>
                <div *ngIf="foundCampground.directionsoverview && generalInfoFormGroup.value.directionsCtrl">
                  <div fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>directions</mat-icon>
                    <h4>Directions Overview</h4>
                  </div>
                  <div fxLayout="column">
                    {{ foundCampground.directionsoverview }}
                    <a href="{{ foundCampground.directionsUrl }}" mat-stroked-button color="primary" target="_blank">
                      Directions
                    </a>
                  </div>
                </div>

              </mat-expansion-panel>

            </mat-card>

          </mat-accordion>

        </div>

      </div>

    </div>

  </div>

</div>
