.span.mat-checkbox-label {
  color: blue;
  /* display: inline-flex;
  vertical-align: middle; */
}

label.mat-checkbox-layout {
  color: blue;
  /* display: inline-flex;
  vertical-align: middle; */
}


