<h3>Complete the form below to find the park and campground that's right for you!</h3>

<mat-vertical-stepper #stepper>

  <mat-step [stepControl]="accessibilityFormGroup">
    <form [formGroup]="accessibilityFormGroup">

      <ng-template matStepLabel>Campground accessibility</ng-template>
      <h4>Select the campground accessibility features you require</h4>
      <!-- <mat-form-field>
        <input matInput placeholder="Are you camping?" formControlName="firstCtrl" required>
      </mat-form-field> -->
      <div fxLayoutGap="20px" fxLayout="column">

        <mat-checkbox fxLayout="row" formControlName="adaCtrl">
          <mat-icon>accessible</mat-icon>
          ADA information
        </mat-checkbox>
        <mat-checkbox formControlName="wheelchairAccessCtrl">
          <mat-icon>accessible_forward</mat-icon>
          Wheelchair access information
        </mat-checkbox>

        <mat-divider></mat-divider>

        <mat-checkbox formControlName="internetCtrl">
          <mat-icon>wifi</mat-icon>Internet information
        </mat-checkbox>
        <mat-checkbox formControlName="cellPhoneInfoCtrl">
          <mat-icon>smartphone</mat-icon>
          Cell phone information
        </mat-checkbox>

        <mat-divider></mat-divider>

        <mat-checkbox formControlName="rvAllowedCtrl">
          <mat-icon>rv_hookup</mat-icon>
          RV allowed
        </mat-checkbox>
        <mat-checkbox formControlName="rvInfoCtrl">
          <mat-icon>rv_hookup</mat-icon>
          RV information
        </mat-checkbox>
        <mat-checkbox formControlName="trailerAllowedCtrl">
          <mat-icon svgIcon="truck-trailer"></mat-icon>
          Trailer allowed
        </mat-checkbox>

        <mat-divider></mat-divider>

        <mat-checkbox formControlName="accessRoadsCtrl">
          <mat-icon svgIcon="road"></mat-icon>Access roads
        </mat-checkbox>
        <mat-checkbox formControlName="fireStoveCtrl">
          <mat-icon svgIcon="stove"></mat-icon>
          Fire stove policy
        </mat-checkbox>

        <div>
          <button mat-raised-button matStepperNext>Next</button>
        </div>

      </div>

    </form>

  </mat-step>

  <mat-step [stepControl]="amenitiesFormGroup">
    <form [formGroup]="amenitiesFormGroup">

      <ng-template matStepLabel>Campground amenities</ng-template>
      <!-- <mat-form-field>
          <input matInput placeholder="Do you want to hike?" formControlName="secondCtrl" required>
        </mat-form-field> -->

      <div fxLayoutGap="20px" fxLayout="column">

        <mat-checkbox formControlName="toiletsCtrl">
          <mat-icon svgIcon="toilet"></mat-icon>
          Toilets
        </mat-checkbox>
        <mat-checkbox formControlName="showersCtrl">
          <mat-icon svgIcon="shower-head"></mat-icon>
          Showers
        </mat-checkbox>
        <mat-checkbox formControlName="cellPhoneReceptionCtrl">
          <mat-icon>network_cell</mat-icon>
          Cell phone reception
        </mat-checkbox>
        <mat-checkbox formControlName="laundryCtrl">
          <mat-icon svgIcon="washing-machine"></mat-icon>
          Laundry
        </mat-checkbox>
        <mat-checkbox formControlName="internetConnectivityCtrl">
          <mat-icon>wifi</mat-icon>
          Internet connectivity
        </mat-checkbox>
        <mat-checkbox formControlName="amphitheaterCtrl">
          <mat-icon svgIcon="stadium"></mat-icon>
          Amphitheater
        </mat-checkbox>
        <mat-checkbox formControlName="staffVolunteerCtrl">
          <mat-icon>people</mat-icon>
          Staff or volunteer host on site
        </mat-checkbox>

        <mat-divider></mat-divider>

        <mat-checkbox formControlName="trashRecyclingCtrl">
          <mat-icon svgIcon="recycle"></mat-icon>
          Trash and recycling collection
        </mat-checkbox>
        <mat-checkbox formControlName="dumpStationCtrl">
          <mat-icon svgIcon="trash-can-outline"></mat-icon>
          Dump station
        </mat-checkbox>

        <mat-divider></mat-divider>

        <mat-checkbox formControlName="potableWatertCtrl">
          <mat-icon>local_drink</mat-icon>
          Potable Water
        </mat-checkbox>
        <mat-checkbox formControlName="foodStorageLockersCtrl">
          <mat-icon svgIcon="locker-multiple"></mat-icon>
          Food storage locker
        </mat-checkbox>

        <mat-divider></mat-divider>

        <mat-checkbox formControlName="campStoreCtrl">
          <mat-icon>store</mat-icon>
          Camp store
        </mat-checkbox>
        <mat-checkbox formControlName="iceAvailableForSaleCtrl">
          <mat-icon>ac_unit</mat-icon>
          <mat-icon>attach_money</mat-icon>
          Ice available for sale
        </mat-checkbox>
        <mat-checkbox formControlName="firewoodForSaleCtrl">
          <mat-icon svgIcon="fire"></mat-icon>
          <mat-icon>attach_money</mat-icon>
          Firewood available for sale
        </mat-checkbox>

      </div>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next
        </button>
      </div>

    </form>
  </mat-step>

  <mat-step [stepControl]="generalInfoFormGroup">
    <form [formGroup]="generalInfoFormGroup">
      <ng-template matStepLabel>General campground information</ng-template>

      <!-- <mat-form-field>
          <input matInput placeholder="General campground information" formControlName="thirdCtrl" required>
        </mat-form-field> -->

      <div fxLayoutGap="20px" fxLayout="column">

        <mat-checkbox formControlName="weatherCtrl">
          <mat-icon>wb_sunny</mat-icon>
          Weather
        </mat-checkbox>
        <mat-checkbox formControlName="regulationsCtrl">
          <mat-icon>info</mat-icon>
          Regulations
        </mat-checkbox>
        <mat-checkbox formControlName="directionsCtrl">
          <mat-icon>directions</mat-icon>
          Directions
        </mat-checkbox>
      </div>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>


  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    Get results!
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="onSubmitStepper()">Done</button>
    </div>
  </mat-step>

</mat-vertical-stepper>
