<div fxLayout="column" fxLayoutAlign="center center">

  <div style="padding: 0px 15px; text-align: center;">
    <p>National Park Fitter is your go-to application for finding the right National Park and campground for your next
      adventure!</p>
  </div>

  <div style="padding: 0px 15px; text-align: center;">
    <p>Data provided by the <a href="https://www.nps.gov/" style="text-decoration: none;" target="_blank">
        National Park Service (NPS) </a>
    </p>
  </div>

  <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="5px" fxLayoutGap.xs="20px" style="padding-top: 20px; padding-bottom: 5px;">

    <div style="padding: 0px 15px;">
      <mat-card fxLayoutAlign="center center" fxLayout="column">
        <mat-card-title>
          Questions? Feedback? Reach out to me!
        </mat-card-title>
        <mat-card-content>
          Shoot me an email. I'd love to hear from you!
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center center">
          <a href="mailto:nathan.pickard87@gmail.com" mat-icon-button color="primary">
            <mat-icon>email</mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>

    <div style="padding: 0px 15px;">
      <mat-card fxLayoutAlign="center center" fxLayout="column">

        <mat-card-title>
          Follow me on social media!
        </mat-card-title>

        <mat-card-content>
          Let's connect!
        </mat-card-content>

        <mat-card-actions fxLayoutGap="20px" fxLayoutAlign="space-evenly center">
          <a href="https://www.linkedin.com/in/nathanpickard/" color="primary" mat-icon-button target="_blank">
            <mat-icon svgIcon="linkedin-box"></mat-icon>
          </a>
          <a href="´https://twitter.com/NathanPickard" color="primary" mat-icon-button target="_blank">
            <mat-icon svgIcon="twitter-circle"></mat-icon>
          </a>
          <a href="https://github.com/NathanPickard" color="primary" mat-icon-button target="_blank">
            <mat-icon svgIcon="github-circle"></mat-icon>
          </a>
          <a href="https://nathanpickard.wordpress.com/" color="primary" mat-icon-button target="_blank">
            <mat-icon svgIcon="wordpress"></mat-icon>
          </a>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>

  <img src="https://d2mv4f9tjbf4o1.cloudfront.net/national-park-fitter/yosemite-falls.jpg"
    style="max-width: 700px; margin: 30px; width: 80%;">

</div>