agm-map {
  height: 375px;
}

cdk-virtual-scroll-viewport {
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
}

cdk-virtual-scroll-viewport li {
  height: 100px;
}

.mat-card-image {
  max-width: 550px;
}

.mat-card-image:first-child {
  margin-top: 0px;
  margin-bottom: 0px;
}

.option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}

.last {
  padding-bottom: 25px;
}

.bg-image {
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgb(255, 255, 255, 0.2)),
    url("https://d2mv4f9tjbf4o1.cloudfront.net/national-park-fitter/francis-bouffard-31m4coERZJI-unsplash.jpg")
      no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
