<div fxFlex fxLayout="column" fxLayoutAlign="center center">

  <mat-vertical-stepper #stepper>

    <mat-step [stepControl]="stateFormGroup" state="state">
      <form [formGroup]="stateFormGroup">
        <ng-template matStepLabel>Park by state</ng-template>

        <div>
          <mat-select placeholder="State">
            <mat-option [value]="stateFormGroup">Oregon</mat-option>
            <mat-option>Tennessee</mat-option>
          </mat-select>

        </div>

        <div fxLayoutGap="15px">
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button matStepperNext>Next</button>
        </div>

      </form>

    </mat-step>

    <mat-step [stepControl]="generalParkInfoFormGroup" state="generalParkInformation">
      <form [formGroup]="generalParkInfoFormGroup">
        <ng-template matStepLabel>General park information</ng-template>
        <div fxLayoutGap="20px" fxLayout="column">

          <mat-checkbox formControlName="parkInfoCtrl">
            <mat-icon>info</mat-icon>
            Park Information
          </mat-checkbox>

          <mat-checkbox formControlName="parkWeatherCtrl">
            <mat-icon>wb_sunny</mat-icon>
            Weather
          </mat-checkbox>
        </div>

        <div fxLayoutGap="15px">
          <button mat-raised-button matStepperPrevious>Back</button>
          <button mat-raised-button matStepperNext>Next</button>
        </div>

      </form>
    </mat-step>


    <mat-step state="done">
      <ng-template matStepLabel>Done</ng-template>
      Get results!
      <div fxLayoutGap="15px">
        <button mat-raised-button matStepperPrevious>Back</button>
        <button mat-raised-button (click)="stepper.reset()">Reset</button>
        <button mat-raised-button (click)="onSubmitStepper()">Submit</button>
      </div>
    </mat-step>

    <ng-template matStepperIcon="state">
      <mat-icon>place</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="generalParkInformation">
      <mat-icon>info</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="done">
      <mat-icon>done_all</mat-icon>
    </ng-template>

  </mat-vertical-stepper>

  <div *ngIf="!resultsFound && stepperSubmitted">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="resultsFound">

    <!-- <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="15px"> -->
    <div fxLayoutAlign="space-evenly start">
      <div fxLayout="column" fxFlex="90" fxLayoutGap="15px">

        <!-- <div fxFlex="80"> -->

        <div *ngFor="let foundPark of foundParks">

          <mat-accordion>

            <mat-card>
              <mat-card-header>
                <mat-card-title>
                  {{ foundPark.fullName }}
                </mat-card-title>
                <mat-card-subtitle>
                  {{ foundPark.designation }}
                </mat-card-subtitle>
              </mat-card-header>

              <mat-card-content>

                <p>{{ foundPark.description }}</p>

                <div *ngFor="let image of foundPark.images">
                  <img mat-card-image [src]="image.url">
                  <p>{{ image.title }}</p>
                </div>
                <!-- <img src="{{ foundPark.images }}"> -->

                <mat-expansion-panel>

                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      <h3>National Park</h3>
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div *ngIf="foundPark.description && generalParkInfoFormGroup.value.parkInfoCtrl">
                    <h4>Park Information</h4>
                    {{ foundPark.description }}
                  </div>

                  <h2>
                    Park URL:
                    <a href="{{ foundPark.url }}" target="_blank">here</a>
                  </h2>

                </mat-expansion-panel>
              </mat-card-content>

            </mat-card>

          </mat-accordion>

        </div>

      </div>
    </div>
  </div>



  <!-- </div> -->

</div>
