.mat-card-image {
  max-width: 550px;
}

.mat-card-image:first-child {
  margin-top: 0px;
  margin-bottom: 0px;
}

.option-img {
  vertical-align: middle;
  margin-right: 8px;
}

[dir='rtl'] .example-option-img {
  margin-right: 0;
  margin-left: 8px;
}

cdk-virtual-scroll-viewport {
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
}

cdk-virtual-scroll-viewport li {
  height: 100px;
}

.last {
  padding-bottom: 25px;
}
