<div fxFlex fxLayout="column" fxLayoutAlign="center center">
  <h3>Complete the form below to find the park that's right for you!</h3>
  <!-- <h4>Enjoy your stay</h4> -->


  <mat-vertical-stepper #stepper>

    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">

        <ng-template matStepLabel>Campground accessibility</ng-template>
        <h4>Select the campground accessibility features you require</h4>
        <!-- <mat-form-field>
        <input matInput placeholder="Are you camping?" formControlName="firstCtrl" required>
      </mat-form-field> -->
        <div fxLayoutGap="20px" fxLayout="column">

          <mat-checkbox formControlName="wheelchairAccessCtrl">Wheelchair access information</mat-checkbox>
          <mat-checkbox formControlName="internetCtrl">Internet information</mat-checkbox>
          <mat-checkbox formControlName="rvAllowedCtrl">RV allowed</mat-checkbox>
          <mat-checkbox formControlName="cellPhoneInfoCtrl">Cell phone information</mat-checkbox>
          <mat-checkbox formControlName="fireStoveCtrl">Fire stove policy</mat-checkbox>
          <mat-checkbox formControlName="adaCtrl">ADA information</mat-checkbox>
          <mat-checkbox formControlName="rvInfoCtrl">RV information</mat-checkbox>
          <mat-checkbox formControlName="accessRoadsCtrl">Access roads</mat-checkbox>
          <mat-checkbox formControlName="trailerAllowedCtrl">Trailer allowed</mat-checkbox>
          <div>
            <button mat-raised-button matStepperNext>Next</button>
          </div>
        </div>

      </form>

    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">

        <ng-template matStepLabel>Campground amenities</ng-template>
        <!-- <mat-form-field>
          <input matInput placeholder="Do you want to hike?" formControlName="secondCtrl" required>
        </mat-form-field> -->

        <div fxLayoutGap="20px" fxLayout="column">

          <mat-checkbox formControlName="trashRecyclingCtrl">Trash and recycling collection</mat-checkbox>
          <!-- <mat-checkbox formControlName="toiletsCtrl">Toilets</mat-checkbox> -->
          <mat-checkbox formControlName="internetConnectivityCtrl">Internet connectivity</mat-checkbox>
          <mat-checkbox formControlName="showersCtrl">Showers</mat-checkbox>
          <mat-checkbox formControlName="cellPhoneReceptionCtrl">Cell phone reception</mat-checkbox>
          <mat-checkbox formControlName="laundryCtrl">Laundry</mat-checkbox>
          <mat-checkbox formControlName="amphitheaterCtrl">Amphitheater</mat-checkbox>
          <mat-checkbox formControlName="dumpStationCtrl">Dump station</mat-checkbox>
          <mat-checkbox formControlName="campStoreCtrl">Camp store</mat-checkbox>
          <mat-checkbox formControlName="staffVolunteerCtrl">Staff or volunteer host on site</mat-checkbox>
          <mat-checkbox formControlName="potableWatertCtrl">Potable Water</mat-checkbox>
          <mat-checkbox formControlName="iceAvailableForSaleCtrl">Ice available for sale</mat-checkbox>
          <mat-checkbox formControlName="firewoodForSaleCtrl">Firewood available for sale</mat-checkbox>
          <mat-checkbox formControlName="foodStorageLockersCtrl">Food storage locker</mat-checkbox>

        </div>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>

      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Climbing?</ng-template>
        <mat-form-field>
          <input matInput placeholder="Do you want to climb?" formControlName="thirdCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      Enjoy your visit!
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button (click)="onSubmitStepper()">Done</button>
      </div>
    </mat-step>

  </mat-vertical-stepper>

  <div *ngIf="resultsFound">
    <div *ngFor="let foundCampground of foundCampgrounds">


      <mat-accordion>
        <h2>{{ foundCampground.name }}</h2>

        <mat-expansion-panel>

          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>Accessibility</h3>
            </mat-panel-title>

            <!-- <mat-panel-description>
              Information on all things accessibility
            </mat-panel-description> -->

          </mat-expansion-panel-header>

          <div *ngIf="foundCampground.accessibility.wheelchairAccess && firstFormGroup.value.firstCtrl">
            <h4>Wheelchair access information</h4>
            {{ foundCampground.accessibility.wheelchairAccess }}
          </div>

          <div *ngIf="foundCampground.accessibility.internetInfo && firstFormGroup.value.internetCtrl">
            <h4>Internet information</h4>
            {{ foundCampground.accessibility.internetInfo }}
          </div>

          <div *ngIf="foundCampground.accessibility.rvAllowed && firstFormGroup.value.rvAllowedCtrl">
            <h4>RV allowed:</h4>
            {{ foundCampground.accessibility.rvAllowed }}
          </div>

          <div *ngIf="foundCampground.accessibility.cellPhoneInfo && firstFormGroup.value.cellPhoneInfoCtrl">
            <h4>Cell phone information</h4>
            {{ foundCampground.accessibility.cellPhoneInfo }}
          </div>

          <div *ngIf="foundCampground.accessibility.fireStovePolicy && firstFormGroup.value.fireStoveCtrl">
            <h4>Fire stove policy</h4>
            {{ foundCampground.accessibility.fireStovePolicy }}
          </div>

          <div *ngIf="foundCampground.accessibility.rvMaxLength && firstFormGroup.value.rvMaxCtrl">
            <h4>Maximum # of RVs allowed</h4>
            {{ foundCampground.accessibility.rvMaxLength }}
          </div>

          <div *ngIf="foundCampground.accessibility.additionalInfo && firstFormGroup.value.additionalInfoCtrl">
            <h4>Additional information</h4>
            {{ foundCampground.accessibility.additionalInfo }}
          </div>

          <div *ngIf="foundCampground.accessibility.trailerMaxLength && firstFormGroup.value.trailerMaxCtrl">
            <h4>Maximum # of trailers allowed</h4>
            {{ foundCampground.accessibility.trailerMaxLength }}
          </div>

          <div *ngIf="foundCampground.accessibility.trailerMaxLength && firstFormGroup.value.adaCtrl">
            <h4>ADA Information</h4>
            {{ foundCampground.accessibility.adaInfo }}
          </div>

          <div *ngIf="foundCampground.accessibility.rvInfo && firstFormGroup.value.rvInfoCtrl">
            <h4>RV information</h4>
            {{ foundCampground.accessibility.trailerMaxLength }}
          </div>

          <div *ngIf="foundCampground.accessibility.accessRoads && firstFormGroup.value.accessRoadsCtrl">
            <h4>Access roads</h4>
            {{ foundCampground.accessibility.accessRoads }}
          </div>

          <div *ngIf="foundCampground.accessibility.classifications && firstFormGroup.value.classificationsCtrl">
            <h4>Classifications</h4>
            {{ foundCampground.accessibility.classifications }}
          </div>

          <div *ngIf="foundCampground.accessibility.trailerAllowed && firstFormGroup.value.trailerAllowedCtrl">
            <h4>Trailer allowed</h4>
            {{ foundCampground.accessibility.trailerAllowed }}
          </div>


        </mat-expansion-panel>


        <mat-expansion-panel>

          <mat-expansion-panel-header>
            <mat-panel-title>
              <h3>Amenities</h3>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div *ngIf="foundCampground.amenities.trashRecyclingCollection && secondFormGroup.value.trashRecyclingCtrl">
            <h4>Trash and recycling collection</h4>
            {{ foundCampground.amenities.trashRecyclingCollection }}
          </div>

          <!-- <div *ngIf="foundCampground.amenities.toilets && secondFormGroup.value.toiletsCtrl">
            <h4>Toilets</h4>
            {{ foundCampground.amenities.trailerAllowed }}
          </div> -->

          <div *ngIf="foundCampground.amenities.internetConnectivity && secondFormGroup.value.internetConnectivityCtrl">
            <h4>Internet connectivity</h4>
            {{ foundCampground.amenities.internetConnectivity }}
          </div>

          <div *ngIf="foundCampground.amenities.showers && secondFormGroup.value.showersCtrl">
            <h4>Showers</h4>
            {{ foundCampground.amenities.showers }}
          </div>

          <div *ngIf="foundCampground.amenities.cellPhoneReception && secondFormGroup.value.cellPhoneReceptionCtrl">
            <h4>Cell phone reception</h4>
            {{ foundCampground.amenities.cellPhoneReception }}
          </div>

          <div *ngIf="foundCampground.amenities.laundry && secondFormGroup.value.laundryCtrl">
            <h4>Laundry</h4>
            {{ foundCampground.amenities.laundry }}
          </div>

          <div *ngIf="foundCampground.amenities.amphitheater && secondFormGroup.value.amphitheaterCtrl">
            <h4>Amphitheater</h4>
            {{ foundCampground.amenities.amphitheater }}
          </div>

          <div *ngIf="foundCampground.amenities.dumpStation && secondFormGroup.value.dumpStationCtrl">
            <h4>Dump station</h4>
            {{ foundCampground.amenities.dumpStation }}
          </div>

          <div *ngIf="foundCampground.amenities.campStore && secondFormGroup.value.campStoreCtrl">
            <h4>Camp store</h4>
            {{ foundCampground.amenities.campStore }}
          </div>

          <div *ngIf="foundCampground.amenities.staffOrVolunteerHostOnSite && secondFormGroup.value.staffVolunteerCtrl">
            <h4>Staff or volunteer host on site</h4>
            {{ foundCampground.amenities.staffOrVolunteerHostOnSite }}
          </div>

          <div *ngIf="foundCampground.amenities.potableWater && secondFormGroup.value.potableWatertCtrl">
            <h4>Potable water</h4>
            {{ foundCampground.amenities.potableWater }}
          </div>

          <div *ngIf="foundCampground.amenities.iceAvailableForSale && secondFormGroup.value.iceAvailableForSaleCtrl">
            <h4>Ice availalbe for sale</h4>
            {{ foundCampground.amenities.iceAvailableForSale }}
          </div>

          <div *ngIf="foundCampground.amenities.firewoodForSale && secondFormGroup.value.firewoodForSaleCtrl">
            <h4>Firewood for sale</h4>
            {{ foundCampground.amenities.firewoodForSale }}
          </div>

          <div *ngIf="foundCampground.amenities.foodStorageLockers && secondFormGroup.value.foodStorageLockersCtrl">
            <h4>Food storage lockers</h4>
            {{ foundCampground.amenities.foodStorageLockers }}
          </div>

        </mat-expansion-panel>


      </mat-accordion>

    </div>

  </div>

</div>


<!-- <mat-vertical-stepper #stepper>

  <mat-step [stepControl]="firstFormGroup">

    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Hiking?</ng-template>
      <mat-form-field>
        <input matInput placeholder="Do you want to hike?" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>

  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Camping?</ng-template>
      <mat-form-field>
        <input matInput placeholder="Are you camping?" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Climbing?</ng-template>
      <mat-form-field>
        <input matInput placeholder="Do you want to climb?" formControlName="thirdCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    Enjoy your visit!
    <div>
      <button mat-button matStepperPrevious>Back</button>
       <button mat-button (click)="stepper.reset()">Reset</button> -->
<!-- <button mat-button (click)="onSubmitStepper()">Done</button>
    </div>
  </mat-step>

</mat-vertical-stepper> -->
