<div fxFlex fxLayout="column" fxLayoutAlign="center center">
  <h3>Complete the form below to find the park and campground that's right for you!</h3>
  <!-- <h4>Enjoy your stay</h4> -->


  <mat-vertical-stepper #stepper>

    <mat-step [stepControl]="accessibilityFormGroup">
      <form [formGroup]="accessibilityFormGroup">

        <ng-template matStepLabel>Campground accessibility</ng-template>
        <h4>Select the campground accessibility features you require</h4>
        <!-- <mat-form-field>
        <input matInput placeholder="Are you camping?" formControlName="firstCtrl" required>
      </mat-form-field> -->
        <div fxLayoutGap="20px" fxLayout="column">

          <mat-checkbox formControlName="adaCtrl">
            <mat-icon>accessible</mat-icon>
            ADA information
          </mat-checkbox>
          <mat-checkbox formControlName="wheelchairAccessCtrl">
            <mat-icon>accessible_forward</mat-icon>
            Wheelchair access information
          </mat-checkbox>
          <mat-divider></mat-divider>
          <mat-checkbox formControlName="internetCtrl">
            <mat-icon>wifi</mat-icon>Internet information
          </mat-checkbox>
          <mat-checkbox formControlName="cellPhoneInfoCtrl">
            <mat-icon>smartphone</mat-icon>
            Cell phone information
          </mat-checkbox>
          <mat-checkbox formControlName="fireStoveCtrl">
            <mat-icon svgIcon="stove"></mat-icon>
            Fire stove policy
          </mat-checkbox>

          <mat-divider></mat-divider>

          <mat-checkbox formControlName="rvAllowedCtrl">
            <mat-icon>rv_hookup</mat-icon>
            RV allowed
          </mat-checkbox>
          <mat-checkbox formControlName="rvInfoCtrl">
            <mat-icon>rv_hookup</mat-icon>
            RV information
          </mat-checkbox>
          <mat-checkbox formControlName="trailerAllowedCtrl">
            <mat-icon svgIcon="truck-trailer"></mat-icon>
            Trailer allowed
          </mat-checkbox>

          <mat-divider></mat-divider>

          <mat-checkbox formControlName="accessRoadsCtrl">
            <mat-icon svgIcon="road"></mat-icon>Access roads
          </mat-checkbox>
          <div>
            <button mat-raised-button matStepperNext>Next</button>
          </div>
        </div>

      </form>

    </mat-step>

    <mat-step [stepControl]="amenitiesFormGroup">
      <form [formGroup]="amenitiesFormGroup">

        <ng-template matStepLabel>Campground amenities</ng-template>
        <!-- <mat-form-field>
          <input matInput placeholder="Do you want to hike?" formControlName="secondCtrl" required>
        </mat-form-field> -->

        <div fxLayoutGap="20px" fxLayout="column">

          <mat-checkbox formControlName="toiletsCtrl">
            <mat-icon svgIcon="toilet"></mat-icon>
            Toilets
          </mat-checkbox>
          <mat-checkbox formControlName="showersCtrl">
            <mat-icon svgIcon="shower-head"></mat-icon>
            Showers
          </mat-checkbox>
          <mat-checkbox formControlName="cellPhoneReceptionCtrl">
            <mat-icon>network_cell</mat-icon>
            Cell phone reception
          </mat-checkbox>
          <mat-checkbox formControlName="laundryCtrl">
            <mat-icon svgIcon="washing-machine"></mat-icon>
            Laundry
          </mat-checkbox>
          <mat-checkbox formControlName="internetConnectivityCtrl">
            <mat-icon>wifi</mat-icon>
            Internet connectivity
          </mat-checkbox>
          <mat-checkbox formControlName="amphitheaterCtrl">
            <mat-icon svgIcon="stadium"></mat-icon>
            Amphitheater
          </mat-checkbox>
          <mat-checkbox formControlName="staffVolunteerCtrl">
            <mat-icon>people</mat-icon>
            Staff or volunteer host on site
          </mat-checkbox>

          <mat-divider></mat-divider>

          <mat-checkbox formControlName="trashRecyclingCtrl">
            <mat-icon svgIcon="recycle"></mat-icon>
            Trash and recycling collection
          </mat-checkbox>
          <mat-checkbox formControlName="dumpStationCtrl">
            <mat-icon svgIcon="trash-can-outline"></mat-icon>
            Dump station
          </mat-checkbox>

          <mat-divider></mat-divider>

          <mat-checkbox formControlName="potableWatertCtrl">
            <mat-icon>local_drink</mat-icon>
            Potable Water
          </mat-checkbox>
          <mat-checkbox formControlName="foodStorageLockersCtrl">
            <mat-icon svgIcon="locker-multiple"></mat-icon>
            Food storage locker
          </mat-checkbox>

          <mat-divider></mat-divider>

          <mat-checkbox formControlName="campStoreCtrl">
            <mat-icon>store</mat-icon>
            Camp store
          </mat-checkbox>
          <mat-checkbox formControlName="iceAvailableForSaleCtrl">
            <mat-icon>ac_unit</mat-icon>
            <mat-icon>attach_money</mat-icon>
            Ice available for sale
          </mat-checkbox>
          <mat-checkbox formControlName="firewoodForSaleCtrl">
            <mat-icon svgIcon="fire"></mat-icon>
            <mat-icon>attach_money</mat-icon>
            Firewood available for sale
          </mat-checkbox>

        </div>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next
          </button>
        </div>

      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>General campground information</ng-template>

        <!-- <mat-form-field>
          <input matInput placeholder="General campground information" formControlName="thirdCtrl" required>
        </mat-form-field> -->

        <div fxLayoutGap="20px" fxLayout="column">

          <mat-checkbox formControlName="weatherCtrl">
            <mat-icon>wb_sunny</mat-icon>
            Weather
          </mat-checkbox>
          <mat-checkbox formControlName="regulationsCtrl">
            <mat-icon>info</mat-icon>
            Regulations
          </mat-checkbox>
          <mat-checkbox formControlName="directionsCtrl">
            <mat-icon>directions</mat-icon>
            Directions
          </mat-checkbox>
        </div>

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      Enjoy your visit!
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button (click)="onSubmitStepper()">Done</button>
      </div>
    </mat-step>

  </mat-vertical-stepper>


  <div *ngIf="!resultsFound && stepperSubmitted">
    <mat-spinner></mat-spinner>
  </div>



  <div *ngIf="resultsFound">

    <div fxLayout="row" fxLayoutAlign="space-evenly start">

      <div fxLayout="column" fxFlex="45" fxLayoutGap="15px">

        <div *ngFor="let foundCampground of foundCampgrounds">

          <mat-accordion>

            <mat-card>

              <mat-card-header>
                <mat-card-title>
                  {{ foundCampground.name }}
                </mat-card-title>

              </mat-card-header>

              <!-- <h2>{{ foundCampground.parkCode }}</h2> -->
              <!-- <h2>{{ campgroundParkArray }}</h2> -->

              <p>{{ foundCampground.description }}</p>

              <p>{{ foundCampground.fees }}</p>

              <!-- <app-accessibility></app-accessibility> -->
              <mat-expansion-panel>


                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h3>Accessibility</h3>
                  </mat-panel-title>

                  <!-- <mat-panel-description>
                  Information on all things accessibility
                </mat-panel-description> -->

                </mat-expansion-panel-header>

                <div
                  *ngIf="foundCampground.accessibility.wheelchairAccess && accessibilityFormGroup.value.wheelchairAccessCtrl">
                  <h4>Wheelchair access information</h4>
                  {{ foundCampground.accessibility.wheelchairAccess }}
                </div>

                <div *ngIf="foundCampground.accessibility.internetInfo && accessibilityFormGroup.value.internetCtrl">
                  <h4>Internet information</h4>
                  {{ foundCampground.accessibility.internetInfo }}
                </div>

                <div *ngIf="foundCampground.accessibility.rvAllowed && accessibilityFormGroup.value.rvAllowedCtrl">
                  <h4>RV allowed:</h4>
                  {{ foundCampground.accessibility.rvAllowed }}
                </div>

                <div
                  *ngIf="foundCampground.accessibility.cellPhoneInfo && accessibilityFormGroup.value.cellPhoneInfoCtrl">
                  <h4>Cell phone information</h4>
                  {{ foundCampground.accessibility.cellPhoneInfo }}
                </div>

                <div
                  *ngIf="foundCampground.accessibility.fireStovePolicy && accessibilityFormGroup.value.fireStoveCtrl">
                  <h4>Fire stove policy</h4>
                  {{ foundCampground.accessibility.fireStovePolicy }}
                </div>

                <div *ngIf="foundCampground.accessibility.rvMaxLength && accessibilityFormGroup.value.rvMaxCtrl">
                  <h4>Maximum # of RVs allowed</h4>
                  {{ foundCampground.accessibility.rvMaxLength }}
                </div>

                <div
                  *ngIf="foundCampground.accessibility.additionalInfo && accessibilityFormGroup.value.additionalInfoCtrl">
                  <h4>Additional information</h4>
                  {{ foundCampground.accessibility.additionalInfo }}
                </div>

                <div
                  *ngIf="foundCampground.accessibility.trailerMaxLength && accessibilityFormGroup.value.trailerMaxCtrl">
                  <h4>Maximum # of trailers allowed</h4>
                  {{ foundCampground.accessibility.trailerMaxLength }}
                </div>

                <div *ngIf="foundCampground.accessibility.trailerMaxLength && accessibilityFormGroup.value.adaCtrl">
                  <h4>ADA Information</h4>
                  {{ foundCampground.accessibility.adaInfo }}
                </div>

                <div *ngIf="foundCampground.accessibility.rvInfo && accessibilityFormGroup.value.rvInfoCtrl">
                  <h4>RV information</h4>
                  {{ foundCampground.accessibility.trailerMaxLength }}
                </div>

                <div *ngIf="foundCampground.accessibility.accessRoads && accessibilityFormGroup.value.accessRoadsCtrl">
                  <h4>Access roads</h4>
                  {{ foundCampground.accessibility.accessRoads }}
                </div>

                <div
                  *ngIf="foundCampground.accessibility.classifications && accessibilityFormGroup.value.classificationsCtrl">
                  <h4>Classifications</h4>
                  {{ foundCampground.accessibility.classifications }}
                </div>

                <div
                  *ngIf="foundCampground.accessibility.trailerAllowed && accessibilityFormGroup.value.trailerAllowedCtrl">
                  <h4>Trailer allowed</h4>
                  {{ foundCampground.accessibility.trailerAllowed }}
                </div>


              </mat-expansion-panel>




              <mat-expansion-panel>

                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h3>Amenities</h3>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div
                  *ngIf="foundCampground.amenities.trashRecyclingCollection && amenitiesFormGroup.value.trashRecyclingCtrl">
                  <h4>Trash and recycling collection</h4>
                  {{ foundCampground.amenities.trashRecyclingCollection }}
                </div>

                <!-- <div *ngIf="foundCampground.amenities.toilets && amenitiesFormGroup.value.toiletsCtrl">
                <h4>Toilets</h4>
                {{ foundCampground.amenities.trailerAllowed }}
          </div> -->

                <div
                  *ngIf="foundCampground.amenities.internetConnectivity && amenitiesFormGroup.value.internetConnectivityCtrl">
                  <h4>Internet connectivity</h4>
                  {{ foundCampground.amenities.internetConnectivity }}
                </div>

                <div *ngIf="foundCampground.amenities.showers && amenitiesFormGroup.value.showersCtrl">
                  <h4>Showers</h4>
                  {{ foundCampground.amenities.showers }}
                </div>

                <div
                  *ngIf="foundCampground.amenities.cellPhoneReception && amenitiesFormGroup.value.cellPhoneReceptionCtrl">
                  <h4>Cell phone reception</h4>
                  {{ foundCampground.amenities.cellPhoneReception }}
                </div>

                <div *ngIf="foundCampground.amenities.laundry && amenitiesFormGroup.value.laundryCtrl">
                  <h4>Laundry</h4>
                  {{ foundCampground.amenities.laundry }}
                </div>

                <div *ngIf="foundCampground.amenities.amphitheater && amenitiesFormGroup.value.amphitheaterCtrl">
                  <h4>Amphitheater</h4>
                  {{ foundCampground.amenities.amphitheater }}
                </div>

                <div *ngIf="foundCampground.amenities.dumpStation && amenitiesFormGroup.value.dumpStationCtrl">
                  <h4>Dump station</h4>
                  {{ foundCampground.amenities.dumpStation }}
                </div>

                <div *ngIf="foundCampground.amenities.campStore && amenitiesFormGroup.value.campStoreCtrl">
                  <h4>Camp store</h4>
                  {{ foundCampground.amenities.campStore }}
                </div>

                <div
                  *ngIf="foundCampground.amenities.staffOrVolunteerHostOnSite && amenitiesFormGroup.value.staffVolunteerCtrl">
                  <h4>Staff or volunteer host on site</h4>
                  {{ foundCampground.amenities.staffOrVolunteerHostOnSite }}
                </div>

                <div *ngIf="foundCampground.amenities.potableWater && amenitiesFormGroup.value.potableWatertCtrl">
                  <h4>Potable water</h4>
                  {{ foundCampground.amenities.potableWater }}
                </div>

                <div
                  *ngIf="foundCampground.amenities.iceAvailableForSale && amenitiesFormGroup.value.iceAvailableForSaleCtrl">
                  <h4>Ice availalbe for sale</h4>
                  {{ foundCampground.amenities.iceAvailableForSale }}
                </div>

                <div *ngIf="foundCampground.amenities.firewoodForSale && amenitiesFormGroup.value.firewoodForSaleCtrl">
                  <h4>Firewood for sale</h4>
                  {{ foundCampground.amenities.firewoodForSale }}
                </div>

                <div
                  *ngIf="foundCampground.amenities.foodStorageLockers && amenitiesFormGroup.value.foodStorageLockersCtrl">
                  <h4>Food storage lockers</h4>
                  {{ foundCampground.amenities.foodStorageLockers }}
                </div>

              </mat-expansion-panel>

              <mat-expansion-panel>

                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h3>General Information</h3>
                  </mat-panel-title>
                </mat-expansion-panel-header>

                <div *ngIf="foundCampground.weatherOverview && thirdFormGroup.value.weatherCtrl">
                  <mat-icon>wb_sunny</mat-icon>
                  <h4>Weather overview</h4>
                  {{ foundCampground.weatherOverview }}
                </div>
                <div *ngIf="foundCampground.regulationsOverview && thirdFormGroup.value.regulationsCtrl">
                  <mat-icon>info</mat-icon>
                  <h4>Regulations overview</h4>
                  {{ foundCampground.regulationsOverview }}
                </div>
                <div *ngIf="foundCampground.directionsOverview && thirdFormGroup.value.directionsCtrl">
                  <mat-icon>directions</mat-icon>
                  <h4>Directions overview</h4>
                  {{ foundCampground.directionsOverview }}
                </div>

              </mat-expansion-panel>

            </mat-card>

          </mat-accordion>

        </div>

      </div>

      <div fxLayout="column" fxFlex="45" fxLayoutGap="15px">

        <div *ngFor="let foundPark of foundParks">

          <mat-accordion>

            <mat-card>
              <mat-card-header>
                <mat-card-title>
                  {{ foundPark.fullname }}
                </mat-card-title>
                <mat-card-subtitle>
                  {{ foundPark.designation }}
                </mat-card-subtitle>
              </mat-card-header>

              <p>{{ foundPark.description }}</p>

              <img src="{{ foundPark.images }}">

              <mat-expansion-panel>

                <mat-expansion-panel-header>
                  <mat-panel-title>
                    <h3>National Park</h3>
                  </mat-panel-title>
                </mat-expansion-panel-header>



              </mat-expansion-panel>

            </mat-card>

          </mat-accordion>

        </div>

      </div>

    </div>

  </div>




</div>


<!-- <mat-vertical-stepper #stepper>

  <mat-step [stepControl]="firstFormGroup">

    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Hiking?</ng-template>
      <mat-form-field>
        <input matInput placeholder="Do you want to hike?" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>

  </mat-step>

  <mat-step [stepControl]="amenitiesFormGroup">
    <form [formGroup]="amenitiesFormGroup">
      <ng-template matStepLabel>Camping?</ng-template>
      <mat-form-field>
        <input matInput placeholder="Are you camping?" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Climbing?</ng-template>
      <mat-form-field>
        <input matInput placeholder="Do you want to climb?" formControlName="thirdCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    Enjoy your visit!
    <div>
      <button mat-button matStepperPrevious>Back</button>
       <button mat-button (click)="stepper.reset()">Reset</button> -->
<!-- <button mat-button (click)="onSubmitStepper()">Done</button>
    </div>
  </mat-step>

</mat-vertical-stepper> -->
