<div fxFlex fxLayout="column" fxLayoutAlign="center center">
  <h3>Complete the form below to find the park that's right for you!</h3>
  <!-- <h4>Enjoy your stay</h4> -->


  <mat-vertical-stepper #stepper>

    <mat-step [stepControl]="firstFormGroup">

      <form [formGroup]="firstFormGroup">

        <ng-template matStepLabel>Campground accessibility</ng-template>
        <h4>Select the campground accessibility features you require</h4>
        <!-- <mat-form-field>
        <input matInput placeholder="Are you camping?" formControlName="firstCtrl" required>
      </mat-form-field> -->
        <div fxLayoutGap="20px" fxLayout="column">

          <!-- <mat-checkbox formControlName="firstCtrl">Trash recycling collection</mat-checkbox>
          <mat-checkbox formControlName="firstCtrl">Toilets</mat-checkbox>
          <mat-checkbox formControlName="firstCtrl">Internet connectivity</mat-checkbox>
          <mat-checkbox formControlName="firstCtrl">Showers</mat-checkbox>
          <mat-checkbox formControlName="firstCtrl">Cell phone reception</mat-checkbox>
          <mat-checkbox formControlName="firstCtrl">Laundry</mat-checkbox>
          <mat-checkbox formControlName="firstCtrl">Amphitheater</mat-checkbox>
          <mat-checkbox formControlName="firstCtrl">Dump station</mat-checkbox>
          <mat-checkbox formControlName="firstCtrl">Camp Store</mat-checkbox>
          <mat-checkbox formControlName="firstCtrl">Staff or volunteer host on site</mat-checkbox>
          <mat-checkbox formControlName="firstCtrl">Potable water</mat-checkbox>
          <mat-checkbox formControlName="firstCtrl">Ice available for sale</mat-checkbox>
          <mat-checkbox formControlName="firstCtrl">Firewood for sale</mat-checkbox>
          <mat-checkbox formControlName="firstCtrl">Food storage lockers</mat-checkbox> -->

          <mat-checkbox formControlName="firstCtrl">Wheelchair access</mat-checkbox>
          <!-- <mat-checkbox formControlName="firstCtrl">Internet information</mat-checkbox>
          <mat-checkbox formControlName="firstCtrl">RV allowed</mat-checkbox>
          <mat-checkbox formControlName="firstCtrl">Cell phone information</mat-checkbox>
          <mat-checkbox formControlName="firstCtrl">Fire stove policy</mat-checkbox>
          <mat-checkbox formControlName="firstCtrl">ADA information</mat-checkbox>
          <mat-checkbox formControlName="firstCtrl">RV information</mat-checkbox>
          <mat-checkbox formControlName="firstCtrl">Access roads</mat-checkbox>
          <mat-checkbox formControlName="firstCtrl">Trailer allowed</mat-checkbox> -->
          <div>
            <button mat-raised-button matStepperNext>Next</button>
          </div>
        </div>

      </form>

    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Hiking?</ng-template>
        <mat-form-field>
          <input matInput placeholder="Do you want to hike?" formControlName="secondCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="thirdFormGroup">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Climbing?</ng-template>
        <mat-form-field>
          <input matInput placeholder="Do you want to climb?" formControlName="thirdCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      Enjoy your visit!
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)="stepper.reset()">Reset</button>
        <button mat-button (click)="onSubmitStepper()">Done</button>
      </div>
    </mat-step>

  </mat-vertical-stepper>

</div>


<!-- <mat-vertical-stepper #stepper>

  <mat-step [stepControl]="firstFormGroup">

    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Hiking?</ng-template>
      <mat-form-field>
        <input matInput placeholder="Do you want to hike?" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>

  </mat-step>

  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Camping?</ng-template>
      <mat-form-field>
        <input matInput placeholder="Are you camping?" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Climbing?</ng-template>
      <mat-form-field>
        <input matInput placeholder="Do you want to climb?" formControlName="thirdCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    Enjoy your visit!
    <div>
      <button mat-button matStepperPrevious>Back</button>
       <button mat-button (click)="stepper.reset()">Reset</button> -->
<!-- <button mat-button (click)="onSubmitStepper()">Done</button>
    </div>
  </mat-step>

</mat-vertical-stepper> -->
