<!-- <mat-card>

  <mat-toolbar color="primary">
    <mat-toolbar-row fxLayoutAlign="center center">
      <span>Park Fitter</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-vertical-stepper #stepper>

    <mat-step [stepControl]="stateFormGroup" state="state">

      <form [formGroup]="stateFormGroup">
        <ng-template matStepLabel>Parks by State</ng-template>
        <div>

          <mat-select placeholder="State" formControlName="stateCtrl" name="state">
            <mat-option>None</mat-option>

            <mat-divider></mat-divider>

            <mat-optgroup *ngFor="let group of stateGroups" [label]="group.name">
              <mat-option *ngFor="let state of group.state" [value]="state">
                <img class="option-img" [src]="state.flag" height="25">
                <span>{{ state.name }}</span>
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </div>
        <div fxLayoutGap="15px" style="padding: 30px 30px 0px 0px;">
          <button mat-raised-button matStepperNext color="primary">Next</button>
        </div>
      </form>

    </mat-step>

    <mat-step [stepControl]="generalParkInfoFormGroup" state="generalParkInformation">

      <form [formGroup]="generalParkInfoFormGroup">
        <ng-template matStepLabel>General Park Information</ng-template>

        <div fxLayoutGap="20px" fxLayout="column">

          <mat-checkbox formControlName="parkInfoCtrl">
            <mat-icon>info</mat-icon>
            Park Information
          </mat-checkbox>

          <mat-checkbox formControlName="parkWeatherCtrl">
            <mat-icon>wb_sunny</mat-icon>
            Weather
          </mat-checkbox>

          <mat-checkbox formControlName="parkDirectionsCtrl">
            <mat-icon>directions</mat-icon>
            Directions
          </mat-checkbox>
        </div>

        <div fxLayoutGap="15px" style="padding: 30px 30px 0px 0px;">
          <button mat-raised-button matStepperPrevious color="accent">Back</button>
          <button mat-raised-button matStepperNext color="primary">Next</button>
        </div>

      </form>
    </mat-step>

    <mat-step [stepControl]="entranceInfoFormGroup" state="entranceInformation">

      <form [formGroup]="entranceInfoFormGroup">
        <ng-template matStepLabel>Entrance Information</ng-template>

        <div fxLayoutGap="20px" fxLayout="column">

          <mat-checkbox formControlName="entranceInfoCtrl">
            <mat-icon>info</mat-icon>
            Entrance Information
          </mat-checkbox>

          <mat-checkbox formControlName="entrancePassCtrl">
            <mat-icon>local_activity</mat-icon>
            Entrance Passes
          </mat-checkbox>

        </div>

        <div fxLayoutGap="15px" style="padding: 30px 30px 0px 0px;">
          <button mat-raised-button matStepperPrevious color="accent">Back</button>
          <button mat-raised-button matStepperNext color="primary">Next</button>
        </div>

      </form>
    </mat-step>

    <mat-step state="done">

      <ng-template matStepLabel>Done</ng-template>
      Get Results!
      <div fxLayoutGap="15px" style="padding: 30px 30px 0px 0px;" fxLayout="column">

        <div fxLayout="row" fxLayoutGap="15px">
          <button mat-raised-button matStepperPrevious color="accent">Back</button>
          <button mat-raised-button color="primary" (click)="onSubmitStepper()">Submit</button>
        </div>

        <div>
          <button mat-stroked-button color="warn" (click)="stepper.reset()">Reset search</button>
        </div>

      </div>

    </mat-step>

    <ng-template matStepperIcon="state">
      <mat-icon>place</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="designation">
      <mat-icon>category</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="generalParkInformation">
      <mat-icon>info</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="entranceInformation">
      <mat-icon svgIcon="boom-gate-up-outline"></mat-icon>
    </ng-template>

    <ng-template matStepperIcon="done">
      <mat-icon>done_all</mat-icon>
    </ng-template>

  </mat-vertical-stepper>

</mat-card>

<div fxLayoutAlign="center center" fxLayout="column">

  <h3 *ngIf="stateFormGroup.value.stateCtrl.name ||
    generalParkInfoFormGroup.value.parkInfoCtrl ||
    generalParkInfoFormGroup.value.parkWeatherCtrl ||
    generalParkInfoFormGroup.value.parkDirectionsCtrl ||
    entranceInfoFormGroup.value.entranceInfoCtrl ||
    entranceInfoFormGroup.value.entrancePassCtrl">
    Selected:</h3>

  <div fxLayoutGap="20px" fxLayout="column" fxLayoutAlign="center center" style="padding-bottom: 30px;">
    <mat-chip selected color="accent" *ngIf="stateFormGroup.value.stateCtrl.name">
      <mat-icon style="padding-right: 5px;">star</mat-icon>
      State: {{ stateFormGroup.value.stateCtrl.name }}
    </mat-chip>

    <mat-chip-list>
      <mat-chip selected color="accent" *ngIf="generalParkInfoFormGroup.value.parkInfoCtrl">
        <mat-icon style="padding-right: 5px;">info</mat-icon>
        Park Information
      </mat-chip>
      <mat-chip selected color="accent" *ngIf="generalParkInfoFormGroup.value.parkWeatherCtrl">
        <mat-icon style="padding-right: 5px;">wb_sunny</mat-icon>
        Weather
      </mat-chip>
      <mat-chip selected color="accent" *ngIf="generalParkInfoFormGroup.value.parkDirectionsCtrl">
        <mat-icon style="padding-right: 5px;">directions</mat-icon>
        Directions
      </mat-chip>
      <mat-chip selected color="accent" *ngIf="entranceInfoFormGroup.value.entranceInfoCtrl">
        <mat-icon style="padding-right: 5px;">info</mat-icon>
        Entrance Information
      </mat-chip>
      <mat-chip selected color="accent" *ngIf="entranceInfoFormGroup.value.entrancePassCtrl">
        <mat-icon style="padding-right: 5px;">local_activity</mat-icon>
        Entrance Passes
      </mat-chip>
    </mat-chip-list>
  </div>

</div> -->