<div fxFlex>
  <!-- <mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav">

      <mat-toolbar>
        National Park Fitter
      </mat-toolbar>

    </mat-sidenav>

    <mat-sidenav-content> -->

  <app-nav></app-nav>
  <router-outlet></router-outlet>

  <!-- </mat-sidenav-content>



  </mat-sidenav-container> -->


  <!-- <footer>
    <mat-toolbar color="primary">
      <mat-toolbar-row fxLayoutAlign="center center">
        <a href="" mat-stroked-button target="_blank" style="text-decoration: none;">
          Built by Nathan Pickard</a>
      </mat-toolbar-row>
    </mat-toolbar>
  </footer> -->

</div>
