<div>

  <app-nav (openNav)="sidenav.open()"></app-nav>

  <mat-sidenav-container class="all-wrap">
    <mat-sidenav #sidenav over>
      <mat-nav-list>

        <a mat-list-item routerLink="/" routerLinkActive="active" (click)="closeSidenav()"
          [routerLinkActiveOptions]="{exact: true}">
          <mat-icon style="padding-right: 8px" color="primary">add_location</mat-icon>
          National Park Fitter
        </a>

        <mat-divider></mat-divider>

        <a mat-list-item routerLink="/parks" routerLinkActive="active" (click)="closeSidenav()">
          <mat-icon style="padding-right: 8px" color="primary">filter_hdr</mat-icon>
          Parks
        </a>

        <a mat-list-item routerLink="/campgrounds" routerLinkActive="active" (click)="closeSidenav()">
          <mat-icon style="padding-right: 8px" color="primary" svgIcon="tent"></mat-icon>
          Campgrounds
        </a>

        <a mat-list-item routerLink="/about" routerLinkActive="active" (click)="closeSidenav()">
          <mat-icon style="padding-right: 8px" color="primary" svgIcon="information-outline"></mat-icon>
          About
        </a>

      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content class="page-wrap">

      <div [@routerTransition]="o.isActivated ? o.activatedRoute : ''" fxFlexFill class="content">
        <router-outlet #o="outlet"></router-outlet>
      </div>

    </mat-sidenav-content>

  </mat-sidenav-container>

</div>

<footer fxLayout="column">
  <mat-toolbar color="primary">

    <mat-toolbar-row fxLayoutAlign="center center">
      <a href="https://github.com/NathanPickard" mat-raised-button target="_blank" style="text-decoration: none;">
        <mat-icon>copyright</mat-icon>
        2020 Built by Nathan Pickard
      </a>
    </mat-toolbar-row>

  </mat-toolbar>
</footer>