/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

span.mat-checkbox-label > .mat-icon {

  /* display: inline-flex;
  vertical-align: middle; */
  margin-right: 10px;
}

.mat-icon {
  vertical-align: bottom;
  /* display: inline-block; */

}

