@import "~@angular/material/theming";

@include mat-core();

$national-park-fitter-app-primary: mat-palette($mat-brown, 500);
// $national-park-fitter-app-accent: mat-palette($mat-green, A200, A100, A400);
$national-park-fitter-app-accent: mat-palette($mat-green, 900, A100, A400);

$national-park-fitter-app-warn: mat-palette($mat-red);

$national-park-fitter-app-theme: mat-light-theme(
  $national-park-fitter-app-primary,
  $national-park-fitter-app-accent,
  $national-park-fitter-app-warn
);

@include angular-material-theme($national-park-fitter-app-theme);
