@use '~@angular/material' as mat;

@include mat.core();

$national-park-fitter-app-primary: mat.define-palette(mat.$blue-palette, 800);
// $national-park-fitter-app-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);
$national-park-fitter-app-accent: mat.define-palette(mat.$light-green-palette, 900, A100, A400);

$national-park-fitter-app-warn: mat.define-palette(mat.$red-palette);

$national-park-fitter-app-theme: mat.define-light-theme(
  $national-park-fitter-app-primary,
  $national-park-fitter-app-accent,
  $national-park-fitter-app-warn
);

@include mat.all-component-themes($national-park-fitter-app-theme);
