.mat-card-image {
  max-width: 600px;
  margin-bottom: 0px;
}

.mat-card-subtitle.mat-card-subtitle {
  margin-top: 0px;
}

mat-card-subtitle h4 {
  margin: 0px 0px 15px 0px;
}

agm-map {
  height: 375px;
}

background-image {
  opacity: 0.4;
}

.bg-image {
  background: linear-gradient(rgba(255, 255, 255, 0.8), rgb(255, 255, 255, 0.8)),
    url("https://www.nps.gov/common/uploads/structured_data/3C84CAEC-1DD8-B71B-0BA0EEA50BB40F8B.jpg")
      no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
