<div fxFlex fxLayout="column" fxLayoutAlign="center center">

  <div fxLayoutAlign="center center" style="min-height: 350px; width: 100%">

    <form [formGroup]="searchParkForm" (ngSubmit)="searchParks()">

      <mat-form-field appearance="outline">

        <mat-label>Search National Parks</mat-label>
        <input matInput type="search" placeholder="Search for National Parks" formControlName="searchQuery">
        <mat-icon matSuffix svgIcon="map-search-outline"></mat-icon>
        <mat-hint>Search the National Parks!</mat-hint>
        <mat-error *ngIf="searchParkForm.get('searchQuery').invalid">Enter a park name</mat-error>

      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">
        <mat-icon>search</mat-icon>
      </button>

    </form>

  </div>


  <!-- <div *ngIf="!parksFound && searchSubmitted">
    <mat-spinner></mat-spinner>
  </div> -->

  <div *ngIf="searching && searchSubmitted">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="foundSearchParks == null && searchSubmitted">
    No results found
  </div>

  <div *ngIf="parksFound && searchSubmitted">
    Search results
  </div>

  <div *ngIf="parksFound">

    <div fxLayoutAlign="space-evenly start">
      <div fxLayout="column" fxFlex="90" fxLayoutGap="15px">

        <div *ngFor="let foundSearchPark of foundSearchParks">
          <mat-card>
            <mat-card-header>
              <mat-card-title>
                <a href="{{ foundSearchPark.url }}" target="_blank" style="text-decoration: none;">
                  {{ foundSearchPark.fullName }}</a>
              </mat-card-title>
              <mat-card-subtitle>
                {{ foundSearchPark.designation }}
              </mat-card-subtitle>
            </mat-card-header>

            <!-- <div *ngFor="let image of foundSearchPark.images">
        <img mat-card-sm-image [src]="image.url">
        {{ image.title }}
      </div> -->

            <!-- <div *ngFor="let image of foundSearchPark.images"> -->
            <img mat-card-image [src]="foundSearchPark.images[0].url" style="max-width: 350px;">
            <p>{{ foundSearchPark.images[0].title }}</p>

            <!-- </div> -->


            <mat-card-content>
              <h4>Description:</h4>
              {{foundSearchPark.description }}
            </mat-card-content>

            <mat-card-actions>
              <a href="{{ foundSearchPark.url }}" mat-raised-button color="primary" target="_blank">Website
              </a>
            </mat-card-actions>

          </mat-card>

        </div>

      </div>

    </div>

  </div>

  <!-- <div *ngIf="newsFound; else notAvailable"> -->


  <div *ngIf="!newsFound">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="newsFound">

    <div fxLayoutAlign="center center">
      <h3>Latest National Park Service news</h3>
    </div>

    <!-- <ng-template #notAvailable>
      <h4>The latest park news is not available. Try again later</h4>
    </ng-template> -->

    <!-- <div fxLayoutGap="25px" fxLayout="column" fxLayoutAlign="space-evenly start"> -->
    <div fxLayoutAlign="space-evenly start">
      <div fxLayoutGap="25px" fxFlex="90" fxLayout="column">

        <div *ngFor="let foundNewsRelease of foundNewsReleases">

          <mat-card>
            <mat-card-header>
              <mat-card-title>
                <a href="{{ foundNewsRelease.url }}" style="text-decoration: none;" target="_blank">
                  {{ foundNewsRelease.title }}
                </a>
              </mat-card-title>
              <mat-card-subtitle>
                {{ foundNewsRelease.releasedate | date: 'E, MMM d, y' }}
              </mat-card-subtitle>

            </mat-card-header>
            <!-- <div *ngFor="let image of foundNewsRelease.image"> </div> -->

            <div fxLayoutAlign="center center">
              <img mat-card-image [src]="foundNewsRelease.image.url">
            </div>

            <mat-card-content>
              {{ foundNewsRelease.abstract }}
            </mat-card-content>

            <mat-card-actions>
              <a href="{{ foundNewsRelease.url}}" mat-stroked-button color="primary" target="_blank">Read more<mat-icon>
                  keyboard_arrow_right</mat-icon></a>
            </mat-card-actions>

          </mat-card>

        </div>

        <div *ngFor="let foundNextNewsRelease of foundNextNewsReleases">

          <mat-card>
            <mat-card-header>
              <mat-card-title>
                <a href="{{ foundNextNewsRelease.url }}" style="text-decoration: none;" target="_blank">
                  {{ foundNextNewsRelease.title }}
                </a>
              </mat-card-title>
              <mat-card-subtitle>
                {{ foundNextNewsRelease.releasedate | date: 'E, MMM d, y' }}
              </mat-card-subtitle>

            </mat-card-header>
            <!-- <div *ngFor="let image of foundNewsRelease.image"> </div> -->

            <div fxLayoutAlign="center center">
              <img mat-card-image [src]="foundNextNewsRelease.image.url">
            </div>

            <mat-card-content>
              {{ foundNextNewsRelease.abstract }}
            </mat-card-content>

            <mat-card-actions>
              <a href="{{ foundNextNewsRelease.url}}" mat-stroked-button color="primary" target="_blank">Read more
                <mat-icon>
                  keyboard_arrow_right</mat-icon></a>
            </mat-card-actions>

          </mat-card>

        </div>

      </div>

    </div>

  </div>


  <div>
    <button mat-raised-button (click)="getNextNewsReleases()">Get more news</button>
  </div>

</div>



<!-- <mat-vertical-stepper #stepper>

  <mat-step [stepControl]="firstFormGroup">

    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Hiking?</ng-template>
      <mat-form-field>
        <input matInput placeholder="Do you want to hike?" formControlName="firstCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>

  </mat-step>

  <mat-step [stepControl]="amenitiesFormGroup">
    <form [formGroup]="amenitiesFormGroup">
      <ng-template matStepLabel>Camping?</ng-template>
      <mat-form-field>
        <input matInput placeholder="Are you camping?" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Climbing?</ng-template>
      <mat-form-field>
        <input matInput placeholder="Do you want to climb?" formControlName="thirdCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    Enjoy your visit!
    <div>
      <button mat-button matStepperPrevious>Back</button>
       <button mat-button (click)="stepper.reset()">Reset</button> -->
<!-- <button mat-button (click)="onSubmitStepper()">Done</button>
    </div>
  </mat-step>

</mat-vertical-stepper> -->
