<div fxLayout="column" fxLayoutAlign="center center">

  <h3 style="padding: 0px 15px; text-align: center;" fxLayoutAlign="center center" fxLayout="column">
    Find the right National Park and campground for your next adventure!
  </h3>

  <div class="bg-image" fxLayout="column" fxLayoutAlign="center center" style="min-height: 325px; width: 100%;">
    <form [formGroup]="searchParkForm" (ngSubmit)="searchParks()">
      <mat-form-field appearance="outline" style="width: 275px;">
        <mat-label>Search National Parks</mat-label>
        <input matInput [matAutocomplete]="auto" type="search" placeholder="Search for National Parks"
          formControlName="searchQuery">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngIf="isLoading">
            <div fxLayoutAlign="center center">
              <mat-spinner diameter="35"></mat-spinner>
            </div>
          </mat-option>
          <ng-container *ngIf="!isLoading">
            <mat-option *ngFor="let filteredPark of filteredParks" [value]="filteredPark.fullName">
              <span><b>{{ filteredPark.fullName }}</b></span>
            </mat-option>
          </ng-container>
        </mat-autocomplete>
        <button type="submit" mat-mini-fab matSuffix color="primary">
          <mat-icon matSuffix svgIcon="map-search-outline"></mat-icon>
        </button>
        <mat-hint>Search the National Parks!</mat-hint>
        <mat-error *ngIf="searchParkForm.get('searchQuery').invalid">Enter a park name</mat-error>
      </mat-form-field>
    </form>
  </div>

  <div *ngIf="searching && searchSubmitted" fxLayoutAlign="center center" style="padding: 25px 0px 25px 0px">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="noParksFound && searchSubmitted && !searching" fxLayoutAlign="center center"
    style="padding: 25px 0px 25px 0px">
    <h3>No results found, try again</h3>
  </div>

  <!-- <div *ngIf=" noParksFound && !searching && !parksFound">
    No results found
  </div> -->

  <mat-toolbar color="primary" fxLayoutAlign="center center"
    *ngIf="parksFound && searchSubmitted && !searching && !noParksFound">
    Search results for "{{ searchParkForm.get('searchQuery').value }}"
  </mat-toolbar>

  <div *ngIf="parksFound && !noParksFound" fxLayoutGap="50px" fxLayoutAlign="center center"
    style="padding: 30px 0px 30px 0px">

    <div fxLayout="column" fxFlex="90" fxLayoutGap="15px">

      <!-- <agm-map [zoom]="4" [latitude]="39.52" [longitude]="-98.35" [fitBounds]="true">
        <div *ngFor="let parkCoordinates of searchResultsLatLongArray">
          <agm-marker *ngIf="parkCoordinates.lat && parkCoordinates.long" [latitude]="parkCoordinates.lat"
            [longitude]="parkCoordinates.long" [agmFitBounds]="true">
            <agm-info-window>
              <a href="{{ parkCoordinates.url }}" target="_blank"
                style="text-decoration: none">{{ parkCoordinates.fullName }}</a>
            </agm-info-window>
          </agm-marker>
        </div>
      </agm-map> -->

      <google-map
        height="500px"
        width="100%"
        [options]="options"
        [zoom]="zoom">
        <!-- <map-marker *ngFor="let markerPosition of markerPostions" -->
        <!-- <map-marker *ngFor="let markerPosition of searchResultsLatLongArray"
          [position]="markerPosition"
          [options]="markerOptions">
        </map-marker> -->
      </google-map>

      <div *ngFor="let foundSearchPark of foundSearchParks; let i = index">

        <mat-card style="max-width: 1000px;">
          <mat-card-header fxLayoutAlign="center center">
            <mat-card-title>
              <a href="{{ foundSearchPark.url }}" target="_blank" style="text-decoration: none;">
                {{ foundSearchPark.fullName }}</a>
            </mat-card-title>
            <mat-card-subtitle fxLayoutAlign="center center">
              {{ foundSearchPark.designation }}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <slideshow [imageUrls]="foundSearchParks[i].images" [backgroundSize]="'contain'"
              [backgroundRepeat]="'no-repeat'" [showDots]="true" [arrowSize]="'20px'" [minHeight]="'400px'">
            </slideshow>
            <h4>Description:</h4>
            {{foundSearchPark.description }}
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="center center">
            <a href="{{ foundSearchPark.url }}" mat-raised-button color="primary" target="_blank">
              {{ foundSearchPark.name }} Website
            </a>
          </mat-card-actions>
        </mat-card>

      </div>
    </div>
  </div>

  <div *ngIf="searchingForNews" style="padding: 35px 0px">
    <mat-spinner></mat-spinner>
  </div>
</div>

<div>
  <mat-toolbar color="primary" fxLayoutAlign="center center">
    <h3>Latest National Park Service News</h3>
  </mat-toolbar>

  <div *ngIf="newsFound">
    <div style="padding: 20px 15px 20px 15px;" fxLayoutGap="20px grid" fxLayout="row wrap" fxLayoutAlign="center start">
      <div *ngFor="let foundNewsRelease of foundNewsReleases">
        <mat-card style="max-width: 550px;">
          <mat-card-header fxLayoutAlign="center center">
            <mat-card-title fxLayout="center center">
              <a href="{{ foundNewsRelease.url }}" style="text-decoration: none; text-align: center; color: #1565c0;"
                target="_blank">
                {{ foundNewsRelease.title }}
              </a>
            </mat-card-title>
            <mat-card-subtitle fxLayoutAlign="center center">
              <h4>{{ foundNewsRelease.releaseDate | date: 'MMM d, y' }}</h4>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div fxLayoutAlign="center center" fxLayout="column">
              <img mat-card-image [src]="foundNewsRelease.image.url" style="max-width: 515px;">
              <mat-card-subtitle style="text-align: center; font-style: italic;">{{ foundNewsRelease.image.caption }}
              </mat-card-subtitle>
            </div>
            <div fxLayoutAlign="center center">
              {{ foundNewsRelease.abstract }}
            </div>
          </mat-card-content>
          <mat-card-actions fxLayoutAlign="center center">
            <a href="{{ foundNewsRelease.url}}" mat-stroked-button color="primary" target="_blank">
              Read more
              <mat-icon>keyboard_arrow_right</mat-icon></a>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>

<div *ngIf="newsFound && !loadingMoreNews" style="padding-bottom: 20px;" fxLayoutAlign="center center">
  <button color="primary" mat-raised-button (click)="getNextNewsReleases()">
    Get more news
    <mat-icon>expand_more</mat-icon>
  </button>
</div>

<div *ngIf="loadingMoreNews" fxLayoutAlign="center center" style="padding: 50px 0px;">
  <mat-spinner></mat-spinner>
</div>