/* .mat-card {
  max-width: 600px;
} */

.mat-card-image {
  max-width: 600px;
  margin-bottom: 0px;
}

.mat-card-subtitle.mat-card-subtitle {
  margin-top: 0px;
}

agm-map {
  height: 375px;
}

background-image {
  opacity: 0.4;
}
