<div fxFlex fxLayout="column" fxLayoutAlign="center center">

  <h4 style="padding: 0px 15px;">
    Find the right National Park and campground for your next adventure!
  </h4>
  <!--
  <div fxLayout="column" fxLayoutAlign="center center" style="min-height: 325px; width: 100%; background-image: url('https://www.nps.gov/common/uploads/structured_data/3C84C6CF-1DD8-B71B-0B1C7CB883AA8FB1.jpg');
    background-size:contain; background-repeat: no-repeat; background-attachment: fixed;"> -->

  <div fxLayout="column" fxLayoutAlign="center center" style="min-height: 325px; width: 100%;">

    <form [formGroup]="searchParkForm" (ngSubmit)="searchParks()">

      <mat-form-field appearance="outline">

        <mat-label>Search National Parks</mat-label>

        <input matInput type="search" placeholder="Search for National Parks" formControlName="searchQuery">
        <mat-icon matSuffix svgIcon="map-search-outline"></mat-icon>
        <mat-hint>Search the National Parks!</mat-hint>
        <mat-error *ngIf="searchParkForm.get('searchQuery').invalid">Enter a park name</mat-error>

      </mat-form-field>

      <button type="submit" mat-raised-button color="primary">
        <mat-icon>search</mat-icon>
      </button>

    </form>

  </div>

  <div *ngIf="searching && searchSubmitted">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="foundSearchParks === null && searchSubmitted">
    No results found
  </div>

  <!-- <div *ngIf=" noParksFound && !searching && !parksFound">
    No results found
  </div> -->

  <mat-toolbar color="primary" fxLayoutAlign="center center" *ngIf="parksFound && searchSubmitted">
    Search results for "{{ searchParkForm.get('searchQuery').value }}"
  </mat-toolbar>

  <div *ngIf="parksFound" fxLayoutGap="50px">

    <div fxLayout="column" fxFlex="90" fxLayoutGap="15px">

      <agm-map [zoom]="4" [latitude]="39.52" [longitude]="-98.35" [fitBounds]="true">
        <div *ngFor="let parkCoordinates of searchResultsLatLongArray">
          <agm-marker *ngIf="parkCoordinates.lat && parkCoordinates.long" [latitude]="parkCoordinates.lat"
            [longitude]="parkCoordinates.long" [agmFitBounds]="true">
            <agm-info-window>
              <a href="{{ parkCoordinates.url }}" target="_blank"
                style="text-decoration: none">{{ parkCoordinates.fullName }}</a>
            </agm-info-window>
          </agm-marker>
        </div>
      </agm-map>

      <div *ngFor="let foundSearchPark of foundSearchParks">

        <mat-card style="max-width: 1000px;">
          <mat-card-header fxLayoutAlign="center center">
            <mat-card-title>
              <a href="{{ foundSearchPark.url }}" target="_blank" style="text-decoration: none;">
                {{ foundSearchPark.fullName }}</a>
            </mat-card-title>
            <mat-card-subtitle fxLayoutAlign="center center">
              {{ foundSearchPark.designation }}
            </mat-card-subtitle>
          </mat-card-header>

          <!-- <div *ngFor="let image of foundSearchPark.images">
        <img mat-card-sm-image [src]="image.url">
        {{ image.title }}
      </div> -->

          <!-- <div *ngFor="let image of foundSearchPark.images"> -->
          <div fxLayout="column" fxLayoutAlign="space-around center">
            <img mat-card-image [src]="foundSearchPark.images[0].url" style="max-width: 350px;">
            <p>{{ foundSearchPark.images[0].title }}</p>
          </div>
          <!-- </div> -->

          <mat-card-content>
            <h4>Description:</h4>
            {{foundSearchPark.description }}
          </mat-card-content>

          <mat-card-actions fxLayoutAlign="center center">
            <a href="{{ foundSearchPark.url }}" mat-raised-button color="primary" target="_blank">Website
            </a>
          </mat-card-actions>

        </mat-card>

      </div>
    </div>
  </div>

  <!-- <div>
    <div #gmap style="width: 100%; height: 350px;"></div>
  </div> -->

  <!-- <div *ngIf="newsFound; else notAvailable"> -->

  <div *ngIf="!newsFound">
    <mat-spinner></mat-spinner>
  </div>

  <div *ngIf="newsFound">

    <mat-toolbar color="primary" fxLayoutAlign="center center">
      <h3>Latest National Park Service News</h3>
    </mat-toolbar>

    <!-- <ng-template #notAvailable>
      <h4>The latest park news is not available. Try again later</h4>
    </ng-template> -->

    <!-- <div fxLayoutGap="25px" fxLayout="column" fxLayoutAlign="space-evenly start"> -->
    <!-- <div fxLayoutGap="15px" fxFlex="95" fxLayout.lt-md="column" fxLayout="row"> -->
    <!-- <div fxLayoutGap="20px" fxLayout="row wrap" fxLayoutAlign="center stretch" fxLayout.lt-md="column"> -->
    <div fxLayout="column" fxLayoutAlign="center start" fxLayoutGap="20px">

      <!-- <div fxFlex="90" *ngFor="let foundNewsRelease of foundNewsReleases"> -->
      <div *ngFor="let foundNewsRelease of foundNewsReleases">

        <mat-card style="min-width: 275px" fxLayout="column" fxLayoutAlign="center center">

          <mat-card-header>
            <mat-card-title fxLayout="center center">
              <a href="{{ foundNewsRelease.url }}" style="text-decoration: none;" target="_blank">
                {{ foundNewsRelease.title }}
              </a>
            </mat-card-title>
            <mat-card-subtitle fxLayoutAlign="end center">
              {{ foundNewsRelease.releasedate | date: 'MMM d, y' }}
            </mat-card-subtitle>

          </mat-card-header>

          <div fxLayoutAlign="center center" fxLayout="column">
            <img mat-card-image [src]="foundNewsRelease.image.url">
            <mat-card-subtitle>{{ foundNewsRelease.image.caption }}</mat-card-subtitle>
          </div>

          <mat-card-content>
            {{ foundNewsRelease.abstract }}
          </mat-card-content>

          <mat-card-actions>
            <a href="{{ foundNewsRelease.url}}" mat-stroked-button color="primary" target="_blank">Read more<mat-icon>
                keyboard_arrow_right</mat-icon></a>
          </mat-card-actions>

        </mat-card>

      </div>

      <div *ngFor="let foundNextNewsRelease of foundNextNewsReleases">

        <mat-card>

          <mat-card-header>
            <mat-card-title>
              <a href="{{ foundNextNewsRelease.url }}" style="text-decoration: none;" target="_blank">
                {{ foundNextNewsRelease.title }}
              </a>
            </mat-card-title>
            <mat-card-subtitle>
              {{ foundNextNewsRelease.releasedate | date: 'E, MMM d, y' }}
            </mat-card-subtitle>
          </mat-card-header>

          <div fxLayoutAlign="center center">
            <img mat-card-image [src]="foundNextNewsRelease.image.url">
          </div>

          <mat-card-content>
            {{ foundNextNewsRelease.abstract }}
          </mat-card-content>

          <mat-card-actions>
            <a href="{{ foundNextNewsRelease.url}}" mat-stroked-button color="primary" target="_blank">Read more
              <mat-icon>
                keyboard_arrow_right</mat-icon></a>
          </mat-card-actions>

        </mat-card>

      </div>

    </div>

  </div>

  <div>
    <button mat-raised-button (click)="getNextNewsReleases()">Get more news</button>
  </div>

</div>
